/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Alternately container
//
// ###########################################################
.c-alt_container--blue,
.c-alt_container--yellow,
.c-alt_container {
  max-width: 1256px;
  margin: 0 auto;

  &-title {
    display: inline-block;
    position: relative;
    width: calc((100% / 5) * 4);
    padding: 40px;

    @include addquery(custom, 960px) {
      width: 100%;
      padding: 20px;
    }
  }

  &-content {
    position: relative;
  }

  &-title > h2 {
    display: inline-block;
    padding: 0;
  }

  &-title--eng {
    display: block;
    font-size: $fs-h1;
    font-weight: bold;
    font-style: normal;
    word-break: break-word;
    letter-spacing: 1px;

    @include addquery {
      font-size: $fs-h2;
    }
  }

  &-title--ja {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include align-items(center);
    width: 100%;
    font-size: $fs-base;
    font-weight: normal;
    font-style: normal;
    padding: 0;
  }

  &-tagline {
    font-weight: bold;
    font-size: $fs-h4;
    display: inline-block;
    position: relative;
    width: calc((100% / 5) * 3);
    padding: 40px;
    z-index: 2;

    @include addquery(custom, 960px) {
      width: 100%;
      padding: 20px;
    }
  }

  &-image {
    position: absolute;
    top: 0;
    width: calc( ((100% / 5) * 3) + ((100vw - 100%) / 2 ));
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 1;

    @include addquery(custom, 960px) {
      width: 100%;
    }
  }

  &-link {
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(center);
    width: calc((100% / 5) * 2);
    padding: 20px;
    font-size: $fs-h5;
    background-color: $c-background_darken;
    transition: background-color .2s ease;

    & > i {
      @include flex(1 1 auto);
      text-align: right;
      font-size: $fs-h4;
    }

    &:link,&:visited {
      color: $c-txt_plain;
    }

    &:hover {
      background-color: darken($c-background_darken, 20);
      color: $c-white
    }

    @include addquery(custom, 960px) {
      position: relative;
      width: 100%;
      z-index: 5;
    }
  }
}

.c-alt_container {
  &--blue .c-alt_container-title,
  &:nth-child(2n+1) .c-alt_container-title {
    color: $c-blue;
    background-color: $c-blue_foreground;
    margin-left: calc(100% / 5);
    text-align: right;

    &:after {
      display: block;
      content: '';
      width: calc((100vw - 1256px) / 2);
      height: 100%;
      background-color: $c-blue_foreground;
      position: absolute;
      left: 100%;
      top: 0;
    }

    @include addquery(custom, 960px) {
      width: 100%;
      margin-left: 0;
      text-align: center;

      &:after {
        display: none;
      }
    }
  }

  &--yellow .c-alt_container-title,
  &:nth-child(2n) .c-alt_container-title {
    color: $c-yellow;
    background-color: $c-yellow_foreground;
    margin-right: calc(100% / 5);
    text-align: left;

    &:before {
      display: block;
      content: '';
      width: calc((100vw - 1256px) / 2);
      height: 100%;
      background-color: $c-yellow_foreground;
      position: absolute;
      right: calc((100% / 5) * 5);
      top: 0;
    }

    @include addquery(custom, 960px) {
      width: 100%;
      margin-right: 0;
      text-align: center;

      &:before {
        display: none;
      }
    }
  }

  &--blue,
  &:nth-child(2n+1) {
    .c-alt_container-title--ja:before {
      height: 1px;
      content: '';
      @include flex(1 1 auto);
      margin-right: 5px;
      border-top: 1px solid $c-blue;
    }
  }

  &--yellow,
  &:nth-child(2n) {
    .c-alt_container-title--ja:after {
      height: 1px;
      content: '';
      @include flex(1 1 auto);
      margin-left: 5px;
      border-top: 1px solid $c-yellow;
    }
  }

  &--blue,
  &:nth-child(2n+1) {
    .c-alt_container-tagline {
      color: $c-blue_foreground;
      background-color: $c-blue;
      margin-left: calc((100% / 5) * 2);

      &:after {
        display: block;
        content: '';
        width: calc((100vw - 1256px) / 2);
        height: 100%;
        background-color: $c-blue;
        position: absolute;
        left: 100%;
        top: 0;
      }

      @include addquery(custom, 960px) {
        margin-left: 0;
        text-align: center;

        &:after {
          display: none;
        }
      }
    }
  }

  &--yellow,
  &:nth-child(2n) {
    .c-alt_container-tagline {
      color: $c-yellow_foreground;
      background-color: $c-yellow;
      margin-right: calc((100% / 5) * 2);

      &:before {
        display: block;
        content: '';
        width: calc((100vw - 1256px) / 2);
        height: 100%;
        background-color: $c-yellow;
        position: absolute;
        right: calc((100% / 5) * 5);
        top: 0;
      }

      @include addquery(custom, 960px) {
        margin-left: 0;
        text-align: center;

        &:before {
          display: none;
        }
      }
    }
  }

  &--blue .c-alt_container-image,
  &:nth-child(2n+1) .c-alt_container-image {
    right: calc((100% / 5) * 2);

    @include addquery(custom, 960px) {
      left: 0;
      right: auto;
    }
  }

  &--yellow .c-alt_container-image,
  &:nth-child(2n) .c-alt_container-image {
    left: calc((100% / 5) * 2);

    @include addquery(custom, 960px) {
      left: 0;
      right: auto;
    }
  }

  &-description {
    width: calc((100% / 5) * 2);
    padding: 40px;

    @include addquery(custom, 960px) {
      width: 100%;
      margin: 0 auto;
      background-color: rgba(255,255,255, .8);
      position: relative;
      z-index: 9999;
    }
  }

  &--blue,
  &:nth-child(2n+1) {
    .c-alt_container-description {
      margin-left: calc((100% / 5) * 3);

      @include addquery(custom, 960px) {
        margin-left: auto;
      }
    }
  }

  &--yellow,
  &:nth-child(2n) {
    .c-alt_container-description {
      margin-right: calc((100% / 5) * 3);

      @include addquery(custom, 960px) {
        margin-right: auto;
      }
    }
  }

  &--blue .c-alt_container-link,
  &:nth-child(2n+1) .c-alt_container-link {
    margin-left: calc((100% / 5) * 3);

    @include addquery(custom, 960px) {
      margin-left: 0;
    }
  }
}


// Scroll Animation
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-alt_container,
.c-alt_container--blue {
  [data-emergence=hidden] {
    opacity: 0;
    transition: opacity .25s ease;
  }
  [data-emergence=visible] {
    opacity: 1;
    @extend .cssanimation;
  }

  &-title {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeInRight;
    }
  }

  &-tagline {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeInRight;
    }
  }

  &-image {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeIn;
    }
  }

  &-description {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeIn;
    }
  }
}

.c-alt_container:nth-child(2n),
.c-alt_container--yellow {
  [data-emergence=hidden] {
    opacity: 0;
    transition: opacity .25s ease;
  }
  [data-emergence=visible] {
    opacity: 1;
    @extend .cssanimation;
  }

  .c-alt_container-title {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeInLeft;
    }
  }

  .c-alt_container-tagline {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeInLeft;
    }
  }

  .c-alt_container-image {

    &[data-emergence=hidden] {
    }
    &[data-emergence=visible] {
      @extend .fadeIn;
    }
  }
}
