/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Card style contents
//
// ###########################################################
.c-card_list {

  &-inwrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &-image {
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 300px;
  }

  &-content_field {
    position: relative;
    display: block;
    width: 80%;
    margin: -50px auto 0;
    padding: 20px;
    background-color: $c-white;
    @include materialshadow(4);
    z-index: 2;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 100px;
      height: 100px;
      top: -20px;
      left: -20px;
      border-color: $c-blue;
      border-style: solid;
      border-width: 20px 0 0 20px;
      z-index: 1;
    }
  }

  &-title {
    padding: 0;
    color: $c-blue;
    font-weight: bold;
    font-size: $fs-h3;
  }

  &-content {
    display: inline-block;
    padding-top: 20px;
  }

  &:nth-child(2n) {

    .c-card_list-content_field {
      margin-left: calc( (1256px / 5) / 2 );
    }
  }
}
