/* main: ../../style.scss */
@charset "utf-8";

.c-dummy_block {
  width: 100%;
  @include flexbox;
  @include flex-flow(row nowrap);
  @include align-items(center);
  @include justify-content(center);
  background-color: rgba(100,100,100, .4);

  & > &-text {
    font-size: $fs-h5;
    color: rgba(100,100,100, .8);
  }
}
