/* main: ../../style.scss */
@charset "utf-8";


// ###########################################################
//
// Companies logo list
//
// ###########################################################
.c-logo_list {
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(center);
  @include justify-content(space-between);
  margin-bottom: 40px;

  li {
    padding: 20px;
    @include flex(1 0 calc(1256px / 5));
    max-width: calc(1256px / 5);
    text-align: center;

    @include addquery() {
      max-width: calc( (100vw / 5) * 2 );

      &:nth-child(2n+1) {
        margin-right: calc(100vw / 5);
      }
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 90px;
    }
  }
}
