/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Global navigation
//
// ###########################################################
.c-nav_global {
  display: inline-table;
  height: 100%;

  @include addquery {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -150vw;
  }

  & > li {
    display: table-cell;
  }

  & > li > a {
    font-size: $fs-small;
    white-space: nowrap;
    @include flexbox;
    @include align-content(center);
    height: 100%;
    padding: 20px;

    &:link,&:visited { color: $c-txt_plain; }
    &:hover { color: $c-blue; }

    @include addquery {
      white-space: normal;
    }
  }

  & > li.c-nav_global-contact > a {
    transition: all .1s ease-in-out;
    &:link,&:visited { background-color: $c-yellow; color: $c-yellow_foreground }
    &:hover { background-color: $c-yellow_foreground; color: $c-yellow }

    i.fa {
      font-size: 19px;
      margin-left: 5px;
    }
  }
}

// for Mobile
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-nav_global-sp--show {
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 999999999;
  overflow-y: auto;

  & > li {
    display: block;
  }

  & > li > a {
    display: block;
    width: 100%;
    padding: 20px;

    &:link, &:visited {
      color: $c-white;
    }
    &:active {
      background-color: $c-blue;
      color: $c-blue_foreground;
    }
  }
}

// ###########################################################
//
// Smartphone navigation
//
// ###########################################################
.c-nav_global-sp_toggle {
  line-height: 1em;
  cursor: pointer;

  @include addquery(pc){
    display: none!important;
  }
}

.c-nav_global > li.c-nav_global-sp_toggle--close {
  display: none;
  text-align: left;
  padding: 20px;
  cursor: pointer;

  @include addquery {
    display: inline-block;
  }
}
