/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Page header
//
// ###########################################################
.c-page_header {
  width: 100%;
  min-height: 700px;
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(center);
  @include justify-content(center);
  background-position: center center;
  background-size: cover;

  @include addquery {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  &-page_title--ja {
    font-weight: bold;
    color: $c-white;
    text-shadow: 0 0 4px rgba(0,0,0, 50),0 0 19px rgba(0,0,0, 90);
    padding: 20px 0 0;
  }

  &-page_title--eng {
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(center);
    color: $c-white;
    text-shadow: 0 0 4px rgba(0,0,0, 50),0 0 19px rgba(0,0,0, 90);

    &:before,
    &:after {
      content: '';
      height: 1px;
      @include flex(1 1 auto);
      border-top: 1px solid $c-white;
      box-shadow:  0 0 4px rgba(0,0,0, 50),0 0 19px rgba(0,0,0, 90);
    }

    &:before {
      margin-right: 5px;
    }

    &:after {
      margin-left: 5px;
    }
  }
}
