/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Page parallel links
//
// ###########################################################
.c-page_parallel_link {
  background-color: $c-blue_foreground;
  border-top: 2px solid rgba(0,0,0,.7);
  border-bottom: 2px solid #FFFFFF;

  &-inwrapper {
    max-width: 1256px;
    margin: 0 auto;
  }

  &-inwrapper ul {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(center);

    & > li {
      text-align: center;
      padding: 40px 20px;
      @include flex(0 0 calc(100% / 5));

      a {
        display: block;

        img {
          transition: transform .5s ease-in-out;
        }

        &:hover img {
          transform: scale(1.1,1.1);
        }
      }
    }
  }

  &-image {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 2px;
    border: 10px solid lighten($c-blue_foreground, 5);
    overflow: hidden;
    @include flexbox;
    @include justify-content(center);
  }

  &-title--eng {
    font-size: $fs-h5;
    color: $c-blue;
    font-weight: bold;
    padding: 0;
  }

  &-title--ja {
    font-size: $fs-small;
    color: $c-blue;
  }
}
