/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Wide container
//
// ###########################################################
// layout
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
[class^="c-wide_container--"],
[class*=" c-wide_container--"] {
  display: block;
  max-width: 1256px;
  margin: 0 auto;

  .c-wide_container-title {
    display: block;
    text-align: center;
    width: 100%;
    padding: 40px;

    & > h2 {
      display: inline-block;
      padding: 0;
    }

    .c-wide_container-title--eng {
      display: block;
      font-size: $fs-h1;
      font-weight: bold;
      word-break: break-word;
      letter-spacing: 1px;

      @include addquery {
        font-size: $fs-h2;
      }
    }

    .c-wide_container-title--ja {
      @include flexbox;
      @include flex-flow(row nowrap);
      @include align-items(center);
      width: 100%;
      font-size: $fs-base;
      font-weight: normal;
      padding: 0;

      &:before {
        height: 1px;
        content: '';
        @include flex(1 1 auto);
        margin-right: 5px;
      }

      &:after {
        height: 1px;
        content: '';
        @include flex(1 1 auto);
        margin-left: 5px;
      }
    }
  }

  .c-wide_container-content_wrapper {
    @include flexbox;
    @include flex-flow(column wrap);
    @include justify-content(flex-end);
    min-height: 590px;
    background-position: bottom center;
    background-size: cover;

    iframe {
      min-height: 590px;
    }
  }

  .c-wide_container-content {
    @include flex(1 1 auto);

    & > iframe {
      vertical-align: bottom;
      width: 100%;
      height: 100%;
    }
  }

  .c-wide_container-tagline {
    @include align-self(center);
    width: calc( (100% / 5) * 3 );
    padding: 40px;
    font-weight: bold;
    font-size: $fs-h4;
    text-align: center;
  }

  .c-wide_container-link {
    @include align-self(center);
    width: calc( (100% / 5) * 3 );
    padding: 20px;
    font-size: $fs-h5;
    background-color: $c-background_darken;
    transition: background-color .2s ease;
    text-align: center;

    &:link,&:visited {
      color: $c-txt_plain;
    }

    &:hover {
      background-color: darken($c-background_darken, 20);
      color: $c-white;
    }
  }
}

// Variations
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-wide_container--blue {

  .c-wide_container-title {
    color: $c-blue;
    background-color: $c-blue_foreground;

    .c-wide_container-title--ja {

      &:before,
      &:after {
        border-top: 1px solid $c-blue;
      }
    }
  }

  .c-wide_container-tagline {
    color: $c-blue_foreground;
    background-color: $c-blue;
  }
}

.c-wide_container--yellow {

  .c-wide_container-title {
    color: $c-yellow;
    background-color: $c_yellow_foreground;

    .c-wide_container-title--ja {

      &:before,
      &:after {
        border-top: 1px solid $c-yellow;
      }
    }
  }
}

.c-wide_container--transparent {
  padding-bottom: 40px;

  .c-wide_container-title {

    .c-wide_container-title--eng {
      color: $c-blue;
    }

    .c-wide_container-title--ja {
      color: $c-txt_plain;

      &:before,
      &:after {
        border-top: 1px solid $c-txt_plain;
      }
    }
  }
}
