@charset "utf-8";

// ***********************************************************
//
// SATORI UI Animation
// Author : Taichi Kume from SATORI Inc.
//
// ***********************************************************
@mixin animation-count($count: 1) {
  -webkit-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -ms-animation-iteration-count: $count;
  -o-animation-iteration-count: $count;
  animation-iteration-count: $count;
}

@mixin animation-duration($duration: 1s) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-delay($delay: .2s) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin animation-timing-function($function: ease) {
  -webkit-animation-timing-function: $function;
  -moz-animation-timing-function: $function;
  -ms-animation-timing-function: $function;
  -o-animation-timing-function: $function;
  animation-timing-function: $function;
}

@mixin animation-fill-mode($fill: both) {
  -webkit-animation-fill-mode: $fill;
  -moz-animation-fill-mode: $fill;
  -ms-animation-fill-mode: $fill;
  -o-animation-fill-mode: $fill;
  animation-fill-mode: $fill;
}

@mixin backface-visibility($visibility: hidden) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform-origin($transform_origin: center center) {
  -webkit-transform-origin: $transform_origin;
  -moz-transform-origin: $transform_origin;
  -ms-transform-origin: $transform_origin;
  -o-transform-origin: $transform_origin;
  transform-origin: $transform_origin;
}

@mixin transform-style($transform_style: flat) {
  -webkit-transform-style: $transform_style;
  -moz-transform-style: $transform_style;
  -o-transform-style: $transform_style;
  transform-style: $transform_style;
}

@mixin animation-name($animation_name) {
  -webkit-animation-name: $animation_name;
  -moz-animation-name: $animation_name;
  -ms-animation-name: $animation_name;
  -o-animation-name: $animation_name;
  animation-name: $animation_name;
}

@mixin animation($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  animation: $property;
}

@mixin keyframes($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-ms-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}
