@charset "utf-8";

// ***********************************************************
//
// SATORI UI Clear fix
// Author : Taichi Kume from SATORI Inc.
//
// ***********************************************************
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}