@charset "utf-8";
// ###########################################################
//
//  css br
//
// ###########################################################
@mixin cssbr() {
  &:before {
    content: "\A";
    white-space: pre;
  }
}
