@charset "utf-8";

// ***********************************************************
//
// SATORI UI Mediaqueries
// Author : Taichi Kume from SATORI Inc.
//
// ***********************************************************
@mixin mq($breakpoint: medium, $rule: max, $subtraction: false) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);
  @if $rule == max and $subtraction {
    $breakpoint: $breakpoint - 1;
  }
  @media screen and (#{$rule}-width: $breakpoint) {
    @content;
  }
}

@mixin addquery($state: mobile, $point: $breakpoint) {
  @if ( $state == pc ) {
    @media screen and (min-width: $point) { @content; }
  } @else {
    @media screen and (max-width: $point) { @content; }
  }
}
