@charset "utf-8";

// ***********************************************************
//
// SATORI UI Placeholder
// Author : Taichi Kume from SATORI Inc.
//
// ***********************************************************
@mixin placeholder-color($ph-color) {
  &:-moz-placeholder {
    color:$ph-color;
  }
  &::-webkit-input-placeholder {
    color:$ph-color;
  }
  &:-ms-input-placeholder {
    color: $ph-color;
  }
}