/* main: ../style.scss */
@charset "utf-8";

// ###########################################################
//
// Footer
//
// ###########################################################
footer {
  padding: 40px;
  text-align: center;
  background: $c-background url('/images/background-global.png') top center repeat-y;
  background-size: contain;
  max-width: 1256px;
  margin: 0 auto;

  .l-footer_copyright {
    color: $c-txt_sub;
    font-size: $fs-small;
  }
}
