/* main: ../style.scss */
@charset "utf-8";

// ###########################################################
//
// Header
//
// ###########################################################
.l-header {
  width: 100%;
  background-color: #FFF;
  @include materialshadow(1);
  transition: box-shadow 1s ease-in-out;

  &.headroom--top {
    box-shadow: none;
  }
  &.headroom--not-bottom,
  &.headroom--bottom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
  }
}

.l-header > .l-header-inwrapper {
  width: 100%;
  display: table;
  margin: 0 auto;
  @include addquery {
    @include flexbox;
    @include align-items(center);
    padding: 10px 20px;
  }

  & > * {
    display: table-cell;
    vertical-align: middle;
    @include addquery {
      display: inherit;
    }
  }
}

.l-header .l-header-logo {
  padding: 0 20px;

  @include addquery {
    img {
      max-height: 30px;
    }
  }
}

.l-header .l-header-seotext {
  padding: 0;
  font-size: $fs-xsmall;

  @include addquery {
    display: none;
  }
}

.l-header nav {
  text-align: right;

  @include addquery {
    text-align: left;
  }
}
