/* main: ../style.scss */
@charset "utf-8";

// ###########################################################
//
// Outlines
//
// ###########################################################
html,body {
  min-height: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: $c-txt_plain;
}
body {
  word-break: break-all;
  overflow-y: scroll; // Always visible scrollbar;
  line-height: 1.6;

  @include addquery() {
    overflow-x: hidden;
  }
}


// ###########################################################
//
// Browser support
//
// ###########################################################
//// #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#
//// for IE10 or Higher
//@media all and (-ms-high-contrast:none){
//  html {
//    font-family: $globalfont_family_ie;
//  }
//}
//// #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#
//// for IE11
//@media all and (-ms-high-contrast:none){
//  *::-ms-backdrop, html {
//    font-family: $globalfont_family_ie;
//  }
//}
//// #=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#
//// for EDGE
//_:-ms-lang(x), _:-webkit-full-screen, html { font-family: $globalfont_family_ie; }

// ###########################################################
//
// Content Wrapper
//
// ###########################################################
.l-content_wrapper,
.l-content_wrapper--no_bg {
  border-top: 5px solid $c-blue;
  z-index: 99999;
  transform: translate3d(0px, 0px, 0px);
  background: $c-background url('/images/background-global.png') top center repeat-y;
  background-size: 1256px;

  @include addquery(original, 1256px) {
    background-size: 100%;
  };

  .l-content_inwrapper {
    max-width: 1256px;
    margin: 0 auto;
    padding: 40px 0;
  }

  &--no_bg {
    background: $c-white;

    & > .l-content_inwrapper {
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: #F4F4F4;
    }
  }
}
