@charset "utf-8";


// ###########################################################
//
// Variables
//
// ###########################################################
$c-btn_default: $c-green !default;
$c-btn_default_foreground: $c-green_foreground !default;


// ###########################################################
//
// Model
//
// ###########################################################
@mixin btn_model() {
  font-size: $fs-base;
  line-height: 1.6;
  font-family: $globalfont_family;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: $cmn_gutter/2 $cmn_gutter;
  margin: 0;
  border-radius: 2px;
  border-width: 0px;
  min-width: 50px;
  cursor: pointer;
  outline: none;
  position: relative;

  //  Inner Icons
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  i,
  .fa,
  .icon {
    @include flex(0 0 auto);
    &:before,
    &:after { padding: 0 $cmn_gutter/2; }
  }

  //  Badges
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  .badge,
  [class^="badge_"],
  [class*=" badge_"] {
    display: inline-block;
    padding: 0 $cmn_gutter/2;
    margin-left: $cmn_gutter;
    border-radius: 2px;
    line-height: 1rem;
    font-family: $globalfont_family_bold;
    em,
    .count {
      display: inline-block;
      font-style: normal;
      white-space: nowrap;
    }
  }

  // Badge color
  // ................................................
  // Default
  // _____
  .badge {
    font-size: $fs-small;
    font-weight: normal;
    background: rgba(0,0,0,.2);
    color: $c-txt_sub;
  }
  // Red
  // _____
  .badge.red,
  .badge_red {
    background: lighten($c-red, 5);
    color: darken($c-red, 40);
  }
  @each $key, $value in $color_variations {
    &.with_badge_#{$key}:after {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      background-color: map-get(map-get($color_variations, $key), bg);
      content: '';
      display: inline-block;
      position: absolute;
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }
  }
}


// ###########################################################
//
//  Coloring
//
// ###########################################################
@mixin btn_coloring($c-bg: $c-btn_default, $c-fg: $c-btn_default_foreground) {
  @if ($c-bg == "alert") {
    color: inherit;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    &:hover {
      color: inherit;
      background-color: rgba(255,255,255,.8);
    }
    &:active {
      color: inherit;
      background-color: rgba(255,255,255,.8)!important;
      box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.14),inset 0 3px 1px -2px rgba(0,0,0,.2),inset 0 1px 5px 0 rgba(0,0,0,.12);
    }
    &:focus {
      color: inherit;
      background-color: rgba(255,255,255,.8);
    }
    &[disabled],
    &[disabled="true"],
    &[disabled="disabled"],
    &.disabled,
    &.disable,
    .btn_disabled,
    .btn_disable {
      color: inherit;
      opacity: .3!important;
      cursor: default!important;
      background-color: rgba(255,255,255,.5)!important;
      box-shadow: none!important;
    }
    &.current,
    &.acc_current,
    &.dd_active {
      color: inherit;
      background-color: rgba(255,255,255,.8)!important;
    }
  } @else {
    background-color: $c-bg;
    color: $c-fg;
    transition: all .25s ease;
    &:visited {
      background-color: $c-bg;
      color: $c-fg;
    }
    &:hover {
      background-color: lighten($c-bg, 10)!important;
      color: lighten($c-fg, 10) !important;
      @include materialshadow(2);
    }
    &:active {
      background-color: lighten($c-bg, 10);
      color: lighten($c-fg, 10) !important;
      box-shadow: none !important;
    }
    &:focus {
      background-color: lighten($c-bg, 10);
      color: lighten($c-fg, 10) !important;
    }
    &[disabled],
    &[disabled="true"],
    &[disabled="disabled"],
    &.disabled,
    &.disable,
    .btn_disabled,
    .btn_disable {
      opacity: .3!important;
      cursor: default!important;
      color: $c-bg!important;
    }
    &.current,
    &.acc_current,
    &.dd_active {
      background-color: lighten($c-bg, 20)!important;
      color: $c-fg!important;
    }
  }
}


// ###########################################################
//
//  Options
//
// ###########################################################
@mixin btn_options() {

  //  .inline_btn, .inline
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.inline_btn,
  &.inline {
    margin: 0;
  }

  //  .large, .wide
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.large,
  &.wide {
    @include addquery(pc) {
      padding: $cmn_gutter/2 $cmn_gutter*4;
      min-width: 200px;
    }
  }

  //  .small
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.small {
    padding: $cmn_gutter/4 $cmn_gutter/2;
  }
}


// ###########################################################
//
//  Usable mixin
//
// ###########################################################
@mixin btn($c:$c-green) {
  @include btn_model;
  @include btn_options;
  @include btn_coloring($c);
}


// ###########################################################
//
//  Deployment mixins
//
// ###########################################################
.btn,
button.btn {
  @include btn_model;
  @include btn_options;
  @include btn_coloring;
  @each $key, $value in $color_variations {
    &.#{$key} {
      @include btn_coloring(map-get(map-get($color_variations, $key), bg), map-get(map-get($color_variations, $key), fg));
    }
  }
}

//  SATORI UI kit Older version support
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
@each $key, $value in $color_variations {
  .btn_#{$key},
  button.btn_#{$key} {
    @include btn_model;
    @include btn_options;
    @include btn_coloring(map-get(map-get($color_variations, $key), bg), map-get(map-get($color_variations, $key), fg));
  }
}
[class^="alert"] .btn,
[class*=" alert"] .btn { @include btn_model; @include btn_options; @include btn_coloring(alert); margin: 0; }


// ###########################################################
//
//  with .btn_group
//
// ###########################################################
.btn_group,
.btn_group.horiz {
  @include flexbox;
  @include flex-flow(row wrap);
  //box-shadow: 0px 5px 25px rgba(0,0,0,.5);
  border-radius: 2px;
  [class^="btn"],
  [class*=" btn"] {
    @include flex(0 0 auto);
    margin: 0!important;
    //box-shadow: none;
    border-radius: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    &:first-child {
    }
    &:last-child {
      border-right: none;
    }
  }
}
.btn_group.vert {
  @include flex-flow(column wrap);
  [class^="btn"],
  [class*=" btn"] {
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
    margin-bottom: 0;
    &:first-child {
      border-radius: 2px 2px 0 0;
    }
    &:last-child {
      border-radius: 0 0 2px 2px;
      border-bottom: none;
    }
  }
}


// ###########################################################
//
//  .state_changer
//
// ###########################################################

//  Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
@mixin switch_model {
  @include flex(0 0 50px);
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 2px;
  @include materialshadow(1);
}
.state_changer,
.btn_state_changer {
  @include inline-flex;
  @include flex-flow(row nowrap);
  border-radius: 3px;
  cursor: pointer;
  min-height: 1em;
  min-width: 100px;
  margin: $cmn_gutter/2;
  transition: border .25s ease-in-out;
  @include materialshadow(1, inset);
  &[data-state="inactive"],
  &.state_inactive {
    &:before {
      @include switch_model;
    }
    &:after {
      @include flex(0 0 50px);
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      content: 'OFF';
      padding: $cmn_gutter/2;
    }
  }
  &[data-state="active"],
  &.state_active {
    &:before {
      @include flex(0 0 50px);
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      content: 'ON';
      padding: $cmn_gutter/2;
    }
    &:after {
      @include switch_model;
    }
  }
}

//  Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.state_changer,
.btn_state_changer {
  border-color: $c-border;
  &[data-state="inactive"],
  &.state_inactive {
    color: $c-yellow_foreground;
    background-color: $c-yellow;
    &:before {
      border: 1px solid $c-yellow;
      background-color: lighten($c-background, 20);
    }
  }
  &[data-state="active"],
  &.state_active {
    color: $c-blue_foreground;
    background-color: $c-blue;
    &:after {
      border: 1px solid $c-blue;
      background-color: lighten($c-background, 20);
    }
  }
}
