/* main: ../../style.scss */
@charset "utf-8";


// ###########################################################
//
//  Form elements
//
// ###########################################################

// Variables
// :::::::::::::::::::::::::::::::::::::::::::::::::::::

// Unit
// ................................................
$c-unit_txt: $c-txt_sub !default;
$c-unit_border: $c-border !default;
$c-unit_background: $c-background_darken !default;

// Textfield
// ................................................
$c-textfield_text: $c-txt_plain !default;
$c-textfield_background: $c-background_lighten !default;
$c-textfield_border: $c-border !default;
$c-textfield_placeholder: darken($c-background_lighten, 15) !default;
$c-textfield_focus_background: $c-background_darken !default;
$c-textfield_focus_border: $c-purple !default;
$c-textfield_focus_placeholder: $c-background_darken !default;
$c-textfield_readonly_background: $c-background_darken !default;
$c-textfield_readonly_border: $c-border !default;
$c-textfield_readonly_placeholder: $c-background !default;
$c-textfield_readonly_focus_background: $c-textfield_readonly_background !default;
$c-textfield_readonly_focus_border: $c-textfield_focus_border !default;
$c-textfield_readonly_focus_text: $c-txt_plain !default;


// Select
// ................................................
$c-select_background: $c-textfield_background !default;
$c-select_text: $c-textfield_text !default;
$c-select_border: $c-textfield_border !default;
$c-select_focus_border: $c-textfield_focus_border !default;
$c-select_active_border: $c-purple !default;
$c-select_readonly_background: $c-textfield_readonly_background !default;

// Label
// ................................................
$c-label_text: $c-txt_sub !default;

// Notes
// ................................................
$c-notes_background: $c-background_darken !default;
$c-notes_border: $c-textfield_border !default;
$c-notes_text: $c-txt_sub !default;
$c-notes_focus_background: $c-purple !default;
$c-notes_focus_text: $c-purple_foreground !default;

// Help baloon
// ................................................
$c-helpbaloon_background: $c-red !default;


// ###########################################################
//
//  Group of input elements
//
// ###########################################################
.u-input_group {
  font-size: $fs-h5;
  display: inline-block;
  vertical-align: top;

  &.block,
  &.justified,
  &.streched {
    display: block;

    & > * {
      width: 100%;
      max-width: 100%;
    }
  }
}


// ###########################################################
//
//  .u-input_unit
//
// ###########################################################

//  Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.u-input_unit {
  display: inline-table;
  vertical-align: middle;

  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  textarea {
    display: table-cell;
    width: 100%;
    transform: translateY(1px);
    padding: 9.5px $cmn_gutter/2!important;
    &[disabled="disabled"],
    &[disabled],
    &[readonly="readonly"],
    &[readonly] {
      transform: translateY(0);
    }
  }

  .before,
  .after,
  .middle {
    display: table-cell;
    width: auto;
    padding: $cmn_gutter/2 $cmn_gutter;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    @include addquery {
      @include flex(1 1 100%);
      max-width: 100%;
      border-radius: 2px;
      border-width: 1px;
      border-style: solid;
    }
  }
  .before {
    border-radius: 2px 0 0 2px;
    border-right-width: 0;
  }
  .middle {
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
  }
  .after {
    border-radius: 0 2px 2px 0;
    border-left-width: 0;
  }
}

//  Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.u-input_unit {
  .before,
  .middle,
  .after {
    color: $c-unit_txt;
    border-color: $c-unit_border;
    background-color: $c-unit_background;
  }
}


// ###########################################################
//
//  Fieldset
//
// ###########################################################

//  Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
fieldset,
.fieldset {
  margin: $cmn_gutter;
  padding: $cmn_gutter;
  border-width: 1px;
  border-style: dotted;
  legend,
  .legend {
    display: block;
    margin-left: -15px;
    border-radius: 2px;
  }
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
fieldset,
.fieldset {
  border-color: $c-border;
  legend,
  .legend {
    border-style: dotted;
    border-color: $c-border;
    color: $c-txt_sub;
  }
}


// ###########################################################
//
// Label
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
label {
  display: block;
  font-size: $fs-h5;

  &.required abbr {
    font-family: $globalfont_family_bold;
  }
  .error {
    font-weight: normal;
    font-size: $fs-small;
  }
  &.dummy {
    content: ' ';
    min-height: 2em;
  }
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
label {
  color: $c-label_text;
  &.required abbr { color: $c-red; }
  &.error, .error { color: $c-danger; }
}


// ###########################################################
//
// .require
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.required,
.optional {
  display: inline-block;
  font-style: normal;
  font-family: $globalfont_family_bold;
  font-size: $fs-base;
  line-height: $fs-base;
  padding: .2rem .5rem .1rem;
  margin: .1em .5em;
  border-radius: 2px;
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.required {
  background: $c-red;
  color: $c-red_foreground;
}
.optional {
  background-color: $c-background_darken;
}


// ###########################################################
//
// %input{type: 'text'}, %input{type: 'tel'},
// %input{type: 'password'}, %input{type: 'email'},
// %input{type: 'number'}, %input{type: 'url'}, %textarea
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea {
  font-size: $fs-h5;
  width: auto;
  padding: $cmn_gutter/2;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  outline:none;
  max-width: 100%;
  &[disabled="disabled"],
  &[disabled],
  &[readonly="readonly"],
  &[readonly] {
    cursor: not-allowed;
    border-style: dotted;
  }
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea {
  color: $c-textfield_text;
  @include materialshadow(1);
  border-color: $c-textfield_border;
  background-color: $c-textfield_background;
  @include placeholder-color($c-textfield_placeholder);
  transition: box-shadow .25s ease;
  &:focus+select,
  &:focus {
    @include materialshadow(2);
    @include placeholder-color($c-textfield_focus_placeholder);
    background-color: $c-textfield_focus_background!important;
    border-color: $c-textfield_focus_border!important;
  }
  &.error,
  &.wpcf7-not-valid {
    border-color: $c-danger;
  }
  &[disabled="disabled"],
  &[disabled],
  &[readonly="readonly"],
  &[readonly] {
    background-color: $c-textfield_readonly_background;
    box-shadow: none;
    @include placeholder-color($c-textfield_readonly_placeholder);
    &:focus {
      color: $c-textfield_readonly_focus_text;
      border-color: $c-textfield_readonly_focus_border;
    }
  }
}


// ###########################################################
//
// %select
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
select {
  max-width: 50vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: right 10px top 12px;
  background-size: 10px 7px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAABGdBTUEAALGPC/xhBQAAAF5JREFUGBljZmBgsAbiFCA+AMTYQCNQ8DdIYjsQ/wfiDhAHDYDEQHIgNQy8QHwEiEECbUAMA+1ABkgMJAdSAwbIiluBIiCMoQiiFNVknIrQFaNYB5NEp0HOgLsJJgkAnuIWDshBGdcAAAAASUVORK5CYII=');
  @include materialshadow(1);
  transition: background-color .25s ease-in-out,border .25s ease-in-out;
  width: auto;
  overflow: hidden;
  padding: 0px 20px 0px 10px !important;
  margin: 0;
  text-align:center;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  min-height: 1rem;
}
::-ms-expand {
  display: none;
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
select {
  background-color: $c-select_background;
  color: $c-select_text;
  border-color: $c-select_border;
  &:focus {
    border-color: $c-select_focus_border;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.5);
  }
  &:active {
    border-color: $c-select_active_border;
    box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  }
  &[disabled="disabled"],
  &[disabled] {
    background-image: none;
    padding-right: $cmn_gutter/2;
    cursor: not-allowed;
    background-color: rgba(0,0,0,.05);
    box-shadow: none;
    border-style: dotted;
  }
}


// ###########################################################
//
// .notes
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::

// Plain
// ................................................
.notes {
  display: block;
  padding: 0 4px;
  font-size: $fs-small;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 2px 2px;
}

// with .u-input_unit
// ................................................
.u-input_unit .notes {
  @include flex(1 1 100%);
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.notes {
  background-color: $c-notes_background;
  border-color: $c-notes_border;
  color: $c-notes_text;
}
textarea,
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"] {
  &:focus ~ .notes {
    border-color: transparent;
    background: $c-notes_focus_background;
    color: $c-notes_focus_text;
  }

  &.error ~ .notes,
  &.wpcf7-not-valid ~ .wpcf7-not-valid-tip {
    border-color: $c-red;
    background: $c-red;
    color: #FFF;
    font-size: $fs-small;
  }
}


// ###########################################################
//
// .pw_indicator
//
// ###########################################################

// Model
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.pw_indicator {
  display: block;
  width: 100%;
  ul {
    width: 100%;
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(stretch);
    @include align-content(stretch);
  }
  li {
    @include flex(1 0 auto);
    text-align: center;
    border-radius: 0;
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
}

// Coloring
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
.pw_indicator {
  li {
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.1);
    &.incorrect.current {
      background-color: $c-danger;
      color: darken($c-danger, 60);
    }
    &.correct.current {
      background-color: $c-blue;
      color: darken($c-blue, 60);
    }
  }
}


// ###########################################################
//
//  .u-input_combo
//
// ###########################################################
.u-input_combo {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(flex-start);
  @include align-items(stretch);

  & > * {
    @include flex(1 1 auto);
    max-width: 100%;
    min-width: 2em;
  }

  // Button
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  [class^="btn"],
  [class*=" btn"] {
    @include flex(0 0 auto);
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(center);
    @include materialshadow(1);
    border: 1px solid $c-select_border;
    margin: 0!important;
  }

  // Unit
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  .u-input_unit {
    .before,
    .after,
    .middle {
      @include flex-flow(row wrap);
      @include align-items(center);
    }
  }

  // Select
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  select {
    margin: 0;
  }
}
