@charset "utf-8";


// ###########################################################
//
//  Calculate Width
//
// ###########################################################
@function col_width($col_num) {
  $col_w: 8.33%;
  @if $col_num == 12 {
    @return 100%;
  } @elseif $col_num == 6 {
    @return 50%;
  } @else {
    @return $col_w*$col_num;
  }
}


// ###########################################################
//
//  .cols
//
// ###########################################################
@mixin cols {
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(stretch);
  width: 100%;
  max-width: 100%;
}


// ###########################################################
//
//  .col
//  .col[1 - 12]
//
// ###########################################################
@mixin col($num: 0) {
  @if $num == 0 {
    @include flex(1 1 auto);
  } @elseif $num == fixed {
    @include flex(0 1 auto);
  } @else {
    @include flex(0 1 col_width($num));
    max-width: col_width($num);
  }
  @include mq {
    @include flex(1 1 100%);
    max-width: 100%;
  }
}


// ###########################################################
//
//  Options
//
// ###########################################################
@mixin col_options() {

}


// ###########################################################
//
//  Deployment to class
//
// ###########################################################
.cols {
  @include cols;
  .col {
    @include col;
    @include col_options;
  }
  @for $i from 1 through 12 {
    .col#{$i} {
      @include col($i);
      @include col_options;
    }
  }
  .col_fixed {
    @include col(fixed);
    @include col_options;
  }
}

//  .colw[1 - 12]
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
@for $i from 1 through 12 {
  .colw#{$i} {
    width: col_width($i);
    @include mq {
      width: 100%;
    }
  }
}

