@charset "utf-8";

// ###########################################################
//
//  Clearfix
//
// ###########################################################
.c,
.clearfix {
  @include clearfix;
}


// ###########################################################
//
// Borders
//
// ###########################################################
.border_right { border-right: 1px solid $c-border; }
.border_left { border-left: 1px solid $c-border; }


// ###########################################################
//
//  Alignment
//
// ###########################################################
.centered { text-align: center !important; @include justify-content(center!important); }
.lefted { text-align: left !important; @include justify-content(flex-start!important); }
.righted { text-align: right !important; @include justify-content(flex-end!important); }
.va_top { vertical-align: top !important; }
.va_middle { vertical-align: middle !important; }
.va_bottom { vertical-align: top !important; }


// ###########################################################
//
//  Float
//
// ###########################################################
.fr { float: right !important; }
.fl { float: left !important; }


// ###########################################################
//
//  Margin
//
// ###########################################################
@for $i from 0 through 40 {
  .mt#{$i*5} {
    margin-top: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .mr#{$i*5} {
    margin-right: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .mb#{$i*5} {
    margin-bottom: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .ml#{$i*5} {
    margin-left: #{$i*5}px !important;
  }
}
.mc { margin:0 auto !important; }


// ###########################################################
//
//  Padding
//
// ###########################################################
@for $i from 0 through 40 {
  .pt#{$i*5} {
    padding-top: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .pr#{$i*5} {
    padding-right: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .pb#{$i*5} {
    padding-bottom: #{$i*5}px !important;
  }
}
@for $i from 0 through 40 {
  .pl#{$i*5} {
    padding-left: #{$i*5}px !important;
  }
}
