@charset "utf-8";


.pagenation {
  display: block;
  text-align: center;
  padding: $cmn_gutter*2 0;

  .wp-pagenavi {
    @include inline-flex;
    @include flex-flow(row wrap);
    @include align-items(center);
    @include justify-content(center);
    @include materialshadow(2);
    @include addquery {
      @include flexbox;
      box-shadow: none;
    }

    .pages,
    .extend {
      display: none;
    }

    a,span {
      background-color: $c-green;
      color: $c-green_foreground;
      padding: 15px 20px;
      border-left: 1px solid $c-green_foreground;
      @include addquery {
        @include flex(1 1 auto);
        padding: $cmn_gutter/2 $cmn_gutter;
      }
      i { line-height: 1em; }
      &:nth-child(2) {
        border-left: none;
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
      &.current {
        background-color: $c-background_alt_layer2;
        color: $c-txt_plain_alt;
      }
    }
    a:hover {
      background-color: $c-txt_hover;
    }
  }
}