@charset "utf-8";


.part-sns {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);

  .twitter_set,
  .facebook_like_set,
  .facebook_share_set,
  .googleplus_set,
  .pocket_set {
    padding-right: $cmn_gutter/2;
  }
  .pocket_set {
    margin-left: $cmn_gutter/2;
  }
  .fb_iframe_widget > span {
    vertical-align: baseline !important;
  }

  #twitter-share-widget {
    position: relative;
    padding: 0 15px;
    width: 75px;
    height: 34px;
    line-height: 34px;
    color: inherit;
    text-align: center;
    background: transparent;
    border: 1px solid #CCC;
    border-radius: 3px;
    z-index: 0;
    margin-bottom: 7px;
  }
  #twitter-share-widget::before {
    content: '';
    position: absolute;
    bottom: -5px; left: 50%;
    margin-left: -6px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #FFF transparent transparent transparent;
    z-index: 0;
  }
  #twitter-share-widget::after {
    content: '';
    position: absolute;
    bottom: -6px; left: 50%;
    margin-left: -6px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #CCC transparent transparent transparent;
    z-index: -1;
  }
}