@charset "utf-8";

// ###########################################################
//
// Model
//
// ###########################################################
@mixin pure($element) {

  //  UL List
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  @if ( $element == ul ) {
    margin-left: 1em!important;
    padding: 1em;
    @include addquery {
      margin-left: 0;
    }
    li { list-style-type: disc !important; margin-bottom: .5em;
      ul { margin: 0 1em !important;
        li { list-style-type: circle !important;
          ul {
            li { list-style-type: square !important;
            }
          }
        }
      }
    }
  }

  //  OL List
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  @if ( $element == ol ) {
    counter-reset: number;
    li:before { counter-increment: number; content: counter(number)'.'; margin-right: 1rem; }
    li ol { padding: 0 1em !important; }
  }

  //  DL List
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  @if ( $element == dl ) {
    dt { font-family: $globalfont_family_bold; }
    dd { padding-left: 1em; }
  }
}


// ###########################################################
//
// Deploy
//
// ###########################################################
ul.pure { @include pure(ul); }
ol.pure { @include pure(ol); }
dl.pure { @include pure(dl); }
