@charset "utf-8";


// ###########################################################
//
//  Model
//
// ###########################################################
@mixin table_model {
  &.full {
    width: 100%;
  }
  @include addquery(pc) {
    table-layout: fixed;
  }
}


// ###########################################################
//
//  Options
//
// ###########################################################
@mixin table_options($style: normal) {

  //  List table
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.list,
  &.tbl_list {
    th,td {
      padding: $cmn_gutter;
      word-wrap: break-word;
    }
    thead {
      th,td {
        border-bottom: 3px solid $c-border;
      }
    }
    th {
      font-weight: bold;
    }
    tfoot {
      th,td {
        border-top: 3px solid $c-border;
      }
    }
  }

  //  Striped
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.striped {
    tbody {
      tr:nth-child(2n),
      tr:nth-child(2n), {
        background: rgba(lighten($c-background, 10), .2);
      }
    }
  }

  //  Bordered
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  &.bordered {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $c-border;
    th,td {
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: $c-border;
    }
  }

  //  Ellipsis
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  td.ellipsis,
  th.ellipsis {
    white-space: nowrap;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //  No wrap
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  th.nowrap,
  td.nowrap {
    white-space: nowrap;
  }

  //  Vertical align
  // :::::::::::::::::::::::::::::::::::::::::::::::::::::
  .v_top { vertical-align: top; }
  .v_middle { vertical-align: middle; }
  .v_bottom { vertical-align: bottom; }
}


// ###########################################################
//
//  Deployment to class
//
// ###########################################################
table {
  @include table_model;
  @include table_options();
}


// ###########################################################
//
//  Responsive table wrapper
//  .tbl_responsive
//
// ###########################################################
.tbl_responsive {
  @include addquery {
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    th,td {
      min-width: 60vw;
      max-width: 90vw;
    }
  }
}