/* main: ./style.scss */
@charset "utf-8";

// ###########################################################
//
// Outline
//
// ###########################################################
html { font-family: $globalfont_family; font-size: $fs-root_base; @include addquery { font-size: $fs-root_base--sp}; overflow-x: hidden;}
body { font-size: $fs-base; }


// ###########################################################
//
// Headings
//
// ###########################################################
h1,h2,h3,h4,h5 {
  padding: $cmn_gutter*2 0;
  font-weight: normal;
  line-height: 1.2;
  &.no_gutter {
    margin: 0;
  }
  small {
    line-height: 1.6;
  }
}
h1,.fs-h1,.fs-1 { font-size: $fs-h1; }
h2,.fs-h2,.fs-2 { font-size: $fs-h2; }
h3,.fs-h3,.fs-3 { font-size: $fs-h3; }
.fs-h4,.fs-4 { font-size: $fs-h4; }
.fs-h5,.fs-5 { font-size: $fs-h5; }
h4 { font-size: $fs-h4; font-weight: bold; }
h5 { font-size: $fs-h5; font-weight: bold; }


// ###########################################################
//
// Base size option class
//
// ###########################################################
.fs-base { font-size: $fs-base; }


// ###########################################################
//
// Small
//
// ###########################################################
small,.fs-small,.small { font-size: $fs-small; }


// ###########################################################
//
// Subtext options
//
// ###########################################################
.subtext { color: transparentize($c-txt_plain, .3); }


// ###########################################################
//
// Hyper texts
//
// ###########################################################
a {
  color: $c-txt_link;
  outline: none;
  text-decoration: none;
}
a:visited {
  color: $c-txt_visited;
  text-decoration: none;
}
a:hover { color: $c-txt_hover; text-decoration: none; }


// ###########################################################
//
// Paragraph
//
// ###########################################################
p {
  margin: 0 0 1em;
}


// ###########################################################
//
// pre , code
//
// ###########################################################
pre,code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


// ###########################################################
//
// blockquote
//
// ###########################################################
blockquote {
  position: relative;
  padding: 0 $cmn_gutter*3;
  margin: 0 $cmn_gutter 1em;
  cite {
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }
  &:before,
  &:after {
    position: absolute;
    font-family: Georgia, serif;
    font-weight: normal;
    height: 70px;
  }
  &:before {
    top: 0;
    left: 0;
    content: "\201C";
    line-height: 70px;
  }

  &:after {
    bottom: 0;
    right: 0;
    content: "\201";
    line-height: 160px;
  }
}

// ###########################################################
//
// hr
//
// ###########################################################
hr {
  border:solid $c-txt_plain;
  border-width:1px 0 0 0;
}
