/* main: ../../style.scss */
@charset "utf-8";

// ###########################################################
//
// Hero Header
//
// ###########################################################
.page-template-index {

.p-heroheader {
  width: 100vw;
  height: 100vh;
  display: block;
  background-size: cover;
  background-position: top right;
  position: relative;
}

.p-heroheader > .p-heroheader-inwrapper {
  width: 100%;
  height: 100%;
  @include flexbox;
  @include justify-content(center);
  @include align-content(center);
  @include align-items(center);

  @include addquery {
    .p-hero_tagline {
      width: 100%;
    }
  }
}

.p-heroheader .p-heroheader_scroll {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -53px;
  transition: opacity 1s ease;
  opacity: 100;

  &.onScroll {
    opacity: 0;
  }
}


// ###########################################################
//
// Contact container
//
// ###########################################################
.p-contact_container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 40px 0;
  @include flexbox;
  @include flex-flow(row wrap);

  .p-contact_container-title {
    @include flex(1 1 100%);
    width: 100%;
    padding: 40px;
    color: $c-yellow;
    background-color: $c_yellow_foreground;

    & > h2 {
      display: inline-block;
      padding: 0;
    }

    .p-contact_container-title--eng {
      display: block;
      font-size: $fs-h1;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .p-contact_container-title--ja {
      @include flexbox;
      @include flex-flow(row nowrap);
      @include align-items(center);
      width: 100%;
      font-size: $fs-base;
      font-weight: normal;
      padding: 0;

      &:after {
        height: 1px;
        content: '';
        @include flex(1 1 auto);
        border-top: 1px solid $c-yellow;
      }

      &:after {
        margin-left: 5px;
      }
    }
  }

  .p-contact_container-tagline {
    @include flex(0 1 auto);
    width: calc((100% / 5) * 3);
    padding: 40px;
    font-weight: bold;
    font-size: $fs-h4;
    background-color: $c-yellow;
    color: $c-yellow_foreground;
  }

  .p-contact_container-link {
    @include flex(0 1 auto);
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(center);
    @include align-content(center);
    width: calc((100% / 5) * 2);
    padding: 40px;
    font-size: $fs-h5;
    background-color: $c-background_darken;
    transition: background-color .2s ease;

    & > i.fa {
      @include flex(1 1 auto);
      font-size: 20px;
      text-align: right;
    }

    &:link,&:visited {
      color: $c-txt_plain;
    }

    &:hover {
      background-color: darken($c-background_darken, 20);
      color: $c-white;
    }
  }
}

}
