/* main: ../../style.scss */
@charset "utf-8";
.page-contact {

  .p-wpcf7_area {
    .col3 > label,
    .u-input_group,
    .u-input_unit {
      padding: 20px $cmn_gutter;
    }

    .wpcf7-list-item {
      padding: 0 $cmn_gutter $cmn_gutter 0;
    }

    textarea {
      width: 100%;
    }
  }

  .p-accept {
    display: block;
    background-color: $c_background_darken;
    padding: 20px;
    text-align: center;
    font-size: $fs-h5;
  }

  .p-submit_area {
    display: block;
    padding: 20px;
    text-align: center;

    [class^="p-button"],
    [class*=" p-button"] {
      border: none;
      @include inline-flex;
      @include flex-flow(row wrap);
      @include align-items(center);
      padding: 20px 40px;
      margin: 0 20px;
      border-radius: 2px;
      font-size: $fs-h5;
      transition: background-color .2s ease;

      &:link,&:visited {
        color: $c-txt_plain;
      }

      &:hover {
        background-color: darken($c-background_darken, 20);
        color: $c-white
      }
    }

    .p-button--confirm {
      background-color: $c-background_darken;
    }

    .p-button--edit {
      background-color: $c-yellow;
      color: $c-yellow_foreground;
    }

    .p-button--submit {
      background-color: $c-blue;
      color: $c-blue_foreground;
    }
  }

  .wpcf7-response-output {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: $fs-h5;
    text-align: center;
    border: none;
  }

  .wpcf7-validation-errors {
    color: $c-red_foreground;
    background-color: $c-red;
  }

  .p-policy {
    background-color: $c-white;
    width: 80%;
    margin: 20px auto;
    border: 1px solid $c-border;
    padding: 20px;
    max-height: 15em;
    overflow-y: auto;
  }
}
