/* main: ../../style.scss */
@charset "utf-8";
.page-unique_point {

  .c-card_list > ul > li {
    padding: 40px;
  }

  .c-card_list > .cols {
    @include justify-content(center);
  }

  .c-card_list .c-card_list {

    &-image {
      &[data-emergence=hidden] {
        opacity: 0;
        transition: opacity .25s ease;
      }
      &[data-emergence=visible] {
        opacity: 1;
        @extend .cssanimation;
        @extend .fadeIn;
      }
    }

    &-content_field {
      &[data-emergence=hidden] {
        opacity: 0;
        transition: opacity .25s ease;
      }
      &[data-emergence=visible] {
        opacity: 1;
        @extend .cssanimation;
        @extend .fadeInBottom;
      }
    }
  }
}
