/* main: ../../style.scss */
@charset "utf-8";
.page-companies {

  .c-alt_container:nth-child(2n+1) {

    .c-alt_container-description {
      width: 100%;
      @include clearfix;
      margin-left: auto;
      padding: 0;
    }

    .c-alt_container-image {
      min-height: 700px;
      height: auto;
    }

    .p-companies_voice-questions_list {
      width: 100%;

      &:before {
        display: inline-block;
        content: '';
        width: calc((100% / 5) *3);
        height: 500px;
        float: left;

        @include addquery {
          display: none;
        }
      }
    }
  }

  .c-alt_container:nth-child(2n) {

    .c-alt_container-description {
      width: 100%;
      @include clearfix;
      margin-right: auto;
      padding: 0;
    }

    .c-alt_container-image {
      min-height: 700px;
      height: auto;
    }

    .p-companies_voice-questions_list {
      width: 100%;

      &:before {
        display: inline-block;
        content: '';
        width: calc((100% / 5) *3);
        height: 500px;
        float: right;

        @include addquery {
          display: none;
        }
      }
    }
  }

  .p-companies_voice-questions_list {
    width: 100%;

    &:before {
      display: inline-block;
      content: '';
      width: calc((100% / 5) *3);
      height: 500px;
      float: left;

      @include addquery {
        display: none;
      }
    }

    dt,dd {
      @include flexbox;
      padding: 20px;
    }

    dt {
      font-weight: bold;
      color: $c-red;
      @include clearfix;

      &:before {
        float: left;
        text-align: center;
        min-width: 45px;
        content: 'Q';
        background-color: $c-red;
        color: $c-white;
        padding: 10px;
        font-weight: bold;
        line-height: 1em;
        margin-right: 20px;

        @include addquery {
          min-width: auto;
        }
      }

      &[data-emergence=hidden] {

      }

      &[data-emergence=visible] {
        @extend .fadeInBottom;
      }
    }

    dd {
      @include clearfix;

      &:before {
        float: left;
        text-align: center;
        min-width: 45px;
        @include flex(0 1 auto);
        content: 'A';
        background-color: $c-blue;
        color: $c-white;
        padding: 10px;
        font-weight: bold;
        line-height: 1em;
        margin-right: 20px;

        @include addquery {
          min-width: auto;
        }
      }

      &[data-emergence=hidden] {

      }

      &[data-emergence=visible] {
        @extend .fadeInBottom;
      }
    }
  }

  .p-companies_name_list {
    border-top: 1px solid #f4f4f4;
    font-size: $fs_base;
    @include flexbox;
    @include flex-flow(row wrap);

    li {
      padding: 10px;
      @include flex(0 1 calc(100% / 5));

      @include addquery {
        @include flex(1 1 100%);
      }
    }
  }
}
