/* main: ../../style.scss */
@charset "utf-8";
.page-messagefromceo {

  .c-alt_container-content {
    min-height: 700px;

    @include addquery {
      min-height: auto;
    }
  }

  .c-page_header {
    min-height: 80vh;

    @include addquery {
      min-height: auto;
    }
  }

  .p-ceo_profile {
    width: 80%;
    max-width: 1256px;
    margin: 0 auto;

    &-position,
    &-name--ja,
    &-name--eng,
    &-catchcopy {
      color: $c-white;
      text-shadow: 0 0 4px rgba(0,0,0, 50),0 0 19px rgba(0,0,0, 90);
    }

    &-position {
      font-size: $fs-h5;
      font-style: normal;
    }

    &-name--ja {
      font-size: $fs-h2*2;
      color: $c-blue;
      font-weight: bold;
      padding: 10px 0;
      line-height: 1em;

      @include addquery {
        font-size: $fs-h2;
      }
    }

    &-name--eng {
      color: $c-blue;
      font-size: $fs-h4;
      font-weight: bold;
      line-height: 1em;
    }

    &-catchcopy {
      font-size: $fs-h3;
      padding-top: 20px;

      @include addquery {
        font-size: $fs-h4;
      }
    }
  }
}
