/* main: ../../style.scss */
@charset "utf-8";
.page-event_categories {

  .p-categories {
    padding: 20px;

    & > .c-wide_container-content_wrapper {
      @include justify-content(flex-start);
      min-height: auto;
    }

    dl {
      @include flexbox;
      @include flex-flow(row wrap);
      @include align-items(center);

      dt {
        @include flex(1 1 auto);
        @include flexbox;
        @include align-items(center);

        span {
          @include flex(0 1 auto);
          padding-right: 1em;
          padding-left: 40px;
        }

        &:after {
          content: '';
          @include flex(1 1 auto);
          border-bottom: 1px solid $c-txt_plain;
        }
      }

      dd {
        @include flex(0 1 386px);
        text-align: center;

        a img {
          transition: margin .5s ease;
        }

        a:hover > img {
          margin: 10px 0;
        }
      }
    }
  }

  .p-event_description {

    .event_meta {
      @include inline-flex;
      @include flex-flow(row wrap);
      @include align-items(flex-end);
      text-align: right;
      margin-bottom: 20px;

      dt,dd {
        @include flex(0 1 50%);
        border-bottom: 1px solid $c-txt_plain;
      }

      dt {
        text-align: left;
        padding-right: 1em;
      }
    }

    .event_flow-wrapper {
      width: 100%;
      padding: 0 40px;
    }

    .event_flow {
      font-size: $fs-small;
      margin: 40px;
      list-style:none;
      display: inline-block;

      li{
        float:left;
        margin-bottom: 10px;

        span {
          color: $c-blue_foreground;
          display:block;
          background: $c-blue;
          text-decoration: none;
          position:relative;
          height: 80px;
          line-height:80px;
          padding: 0 20px 0 10px;
          text-align: center;
          margin-right: 23px;
        }
        &:nth-child(even){
          span {
            background-color: darken($c-blue,10);

            &:before{
              border-color:darken($c-blue,10);
              border-left-color:transparent;
             }
            &:after{
              border-left-color:darken($c-blue,10);
            }
          }
        }
        &:first-child{
          span {
            padding-left:15px;
            border-radius: 4px 0 0 4px;
            &:before{
              border:none;
             }
          }
        }
        &:last-child{
          span {
            padding-right:15px;
            border-radius: 0 4px 4px 0;
            &:after{
              border:none;
             }
          }
        }

        span {
          &:before,
          &:after{
            content: "";
            position:absolute;
            top: 0;
            border:0 solid $c-blue;
            border-width:40px 10px;
            width: 0;
            height: 0;
          }
          &:before{
            left:-20px;
            border-left-color:transparent;
          }
          &:after{
            left:100%;
            border-color:transparent;
            border-left-color:$c-blue;
          }
        }
      }
    }
  }

  .c-alt_container--blue {

    &.p-event_description .c-alt_container-description {
      margin-left: calc((100% / 5) * 1);
      width: calc((100% / 5) * 4);
      text-align: right;

      ul li {
        background-color: rgba(0,0,0,.05);
        border-radius: 2px;
        padding: 2px;
        margin-bottom: 5px;
      }
    }
  }

  .c-alt_container--yellow {

    &.p-event_description .c-alt_container-description {
      margin-right: calc((100% / 5) * 1);
      width: calc((100% / 5) * 4);

      ul li {
        background-color: rgba(0,0,0,.05);
        border-radius: 2px;
        padding: 2px;
        margin-bottom: 5px;
      }
    }

    &.p-event_description {

      .event_flow {
        margin: 40px;
        list-style:none;
        display: inline-block;

        li{
          float:left;
          margin-bottom: 10px;

          span {
            color: $c-yellow_foreground;
            display:block;
            background: $c-yellow;
            text-decoration: none;
            position:relative;
            height: 80px;
            line-height:80px;
            padding: 0 20px 0 10px;
            text-align: center;
            margin-right: 23px;
          }
          &:nth-child(even){
            span {
              background-color: darken($c-yellow,10);

              &:before{
                border-color:darken($c-yellow,10);
                border-left-color:transparent;
               }
              &:after{
                border-left-color:darken($c-yellow,10);
              }
            }
          }
          &:first-child{
            span {
              padding-left:15px;
              border-radius: 4px 0 0 4px;
              &:before{
                border:none;
               }
            }
          }
          &:last-child{
            span {
              padding-right:15px;
              border-radius: 0 4px 4px 0;
              &:after{
                border:none;
               }
            }
          }

          span {
            &:before,
            &:after{
              content: "";
              position:absolute;
              top: 0;
              border:0 solid $c-yellow;
              border-width:40px 10px;
              width: 0;
              height: 0;
            }
            &:before{
              left:-20px;
              border-left-color:transparent;
            }
            &:after{
              left:100%;
              border-color:transparent;
              border-left-color:$c-yellow;
            }
          }
        }
      }
    }
  }
}
