/* main: ../../style.scss */
@charset "utf-8";
.page-speciality {

  .c-alt_container:nth-child(2n+1) {

    .c-alt_container-description {
      width: 100%;
      margin-left: 0;
      padding: 0;
      @include flexbox;
      @include flex-flow(row wrap);

      .p-classification-type-image {
        @include flex(0 1 calc((100% /5) *2));
        padding: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .p-classification-type-text {
        @include flex(0 1 calc((100% /5) *3));
        padding: 20px;
      }
    }
  }

  .c-alt_container:nth-child(2n) {

    .c-alt_container-description {
      width: 100%;
      margin-right: 0;
      padding: 0;
      @include flexbox;
      @include flex-flow(row wrap);

      .p-classification-type-image {
        @include flex(0 1 calc((100% /5) *2));
        padding: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .p-classification-type-text {
        @include flex(0 1 calc((100% /5) *3));
        padding: 20px;
      }
    }
  }

  .p-data_table {
    margin: 80px 0 20px;
    width: 100%;
    background-color: $c-white;
    table-layout: auto;

    thead {
      border-bottom: none;

      th {
        background-color: $c-blue;
        border-right: 1px solid $c-white;
        border-bottom: 5px solid $c-blue-foreground;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .p-data_table-notice {
    padding: 0 20px;
    font-size: $fs-small;
    color: $c-txt-sub;
  }

  .p-recommend_text {
    text-align: center;
    margin: 0;
    padding: 40px;
  }

  .p-extra_content {
    width: 100%;
    padding: 20px;
  }
}
