/* main: ../../style.scss */
@charset "utf-8";

.page-company_information {

  .c-wide_container-content_wrapper {
    min-height: auto;
    @include justify-content(flex-start);
  }

  .p-company_information {

    dl {
      @include flexbox;
      @include flex-flow(row wrap);
      max-width: calc((100% /5) * 3);
      margin: 0 auto;

      dt,dd {
        padding: 0 20px;
      }

      dt {
        @include flex(0 0 calc((100% /3) * 1));
        @include flexbox;
        @include flex-flow(row nowrap);
        @include align-items(flex-start);

        @include addquery {
          @include flex(1 1 100%);
        }

        &:after {
          height: 1px;
          content: '';
          margin-left: 10px;
          margin-top: .8em;
          @include flex(1 1 auto);
          border-top: 1px solid $c-txt_plain;
        }
      }

      dd {
        @include flex(1 0 calc((100% /3) * 2));
      }
    }
  }

  .p-message_from_ceo {

    .c-wide_container-content_wrapper {
      background-position: center center;
      min-height: 590px;
    }
  }

  .p-access_map {

    iframe {
      width: 100%;
      min-height: 590px;
    }
  }
}
