/* main: ../../style.scss */
@charset "utf-8";
.page-students {

  .p-chart_list {
    padding: 40px 0;

    @include addquery {
      padding: 20px 0;
    }

    li {
      padding: 10px 0;

      @include addquery {
        text-align: center;
        img {
          max-width: 90%;
        }
      }

      &[data-emergence=hidden] {
        opacity: 0;
        transition: opacity .25s ease;
      }

      &[data-emergence=visible] {
        @extend .cssanimation;
        @extend .fadeIn;
      }

      &:nth-child(2n) {
        animation-delay: .3s;
      }
    }
  }

  .c-alt_container-content {
    min-height: 400px;
  }
}
