/*------------------------
  reset style
-------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article, aside, canvas, details, figcaption, figure, header, footer, hgroup, menu, nav, section, summary, main {
  display: block;
}
/*------------------------
 base style
-------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, p, blockquote, table, th, td, tbody, address {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Japanese","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 18px;
}
body {
  color: #000;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  min-width: 1000px;
  _display: inline;
  _zoom: 1;
}
a:link {
  text-decoration: none;
  color: #000;
  outline: none;
}
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
a[href^="tel:"] {
  cursor: default;
  text-decoration: none !important;
  color: #000 !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
q:before, q:after {
  content: "";
}
abbr, acronym {
  border: 0;
}
a {
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.btn-over {
  transition: opacity .3s linear;
}
.btn-over:hover {
  opacity: .7;
}
p {
  line-height: 1.6;
}
strong {
  font-weight: normal;
}
em {
  font-style: normal;
}
.cf {
  width: 100%;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.img-center, .txt-center {
  text-align: center !important;
}

@media screen and (max-width:768px) {
body {
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
}
.btn-over:hover {
  opacity: 1;
}
a {
  -webkit-tap-highlight-color: rgba(255,255,255,.6);
}
}