/*----------------------------
 LP style
-----------------------------*/
/*===== layout =====*/
#wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background-color: #ececec;
}
.section-inner {
  width: 100%;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.display-pc {
  display: block !important;
}
.display-sp {
  display: none !important;
}
.none {
  display: none !important;
}
.fade {
  opacity: 0;
  position: relative;
}
.shine {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.shine::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.shine:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
 100% {
 left: 125%;
}
}
@keyframes shine {
 100% {
 left: 125%;
}
}
#main {
  width: 100%;
  position: relative;
}
#contents {
  width: 100%;
  position: relative;
  z-index: 2;
}
/*===== header =====*/
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 3px;
  background: rgba(0,0,0,.75);
  z-index: 10;
}
header::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(left, #d0197c 0%, #d0197c 33%, #65addf 33%, #65addf 66%, #ece738 66%, #ece738 100%);
  background: linear-gradient(to right, #d0197c 0%, #d0197c 33%, #65addf 33%, #65addf 66%, #ece738 66%, #ece738 100%);
  background-size: 100% 3px;
  height: 3px;
}
header > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header > div h1 {
  width: 200px;
  background: #fff;
  padding: 15px;
}
header > div h1 img {
  display: block;
  width: 170px;
  margin: 0 auto;
}
nav ul {
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul li:not(:last-child) {
  margin-right: 20px;
}
nav ul li a {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
nav ul li:not(:last-child) a {
  display: inline-block;
}
nav ul li:not(:last-child) a::before, nav ul li:not(:last-child) a::after {
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
nav ul li a:before {
  bottom: -5px;
  display: block;
  height: 1px;
  width: 0%;
  content: "";
  background: rgba(255,255,255,.75);
}
nav ul li a:hover:before {
  opacity: 1;
  width: 100%;
}
nav ul li:last-child a {
  background: #00b900;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  letter-spacing: -1px;
}
nav ul li:last-child a img {
  width: 55px;
  position: relative;
  top: 1px;
  margin-right: 2px;
}

/*===== mv =====*/
#mv {
  width: 100%;
  position: relative;
  left: 0;
  background: url(../img/fv/mv.jpg) no-repeat center top /cover;
  min-height: 700px;
  z-index: 1;
  top: 0;
}
#mv > div {
  padding-top: 100px;
}
#mv p {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #fff;
  line-height: 1.4;
}
#mv p span {
  font-size: 25px;
  font-weight: 700;
  background: #e20048;
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 30px;
}
#mv p strong {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: .05em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .65);
}
#mv p strong em {
  font-size: 30px;
}
#mv figure {
  width: 336px;
  margin: 20px auto;
}
#mv figure img {
  width: 100%;
}
#mv ul {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 20px 30px;
}
#mv ul li {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .65);
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 1.3;
}
#mv ul li::before {
  content: "";
  display: inline-block;
  width: 60px;
  position: relative;
  background: #bbb;
  height: 1px;
  margin-right: 10px;
  top: -7px;
}
#mv ul li:last-child {
  margin-bottom: 0;
}

/*===== conversion =====*/
.conversion {
  background: #fff;
  border: 6px solid #d9d9d9;
  padding: 10px 20px 30px;
}
#contents > .conversion:first-of-type {
  top: -160px;
  margin-bottom: -100px;
}
.conversion::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../img/common/shadow.png) no-repeat center top /contain;
  width: 898px;
  height: 30px;
  top: 100%;
  left: 52px;
  margin-top: 6px;
}
.conversion > p {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1;
}
.conversion > p img {
  width: 225px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.conversion > p img + span {
  font-size: 23px;
}
.conversion > p strong {
  display: inline-block;
  font-weight: 900;
  position: relative;
  margin-top: 20px;
  letter-spacing: .05em;
}
.conversion > p strong::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: #000;
  height: 2px;
  bottom: -10px;
}
.conversion > p strong em {
  font-size: 30px;
}
.conversion > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.conversion > div dl {
  width: 490px;
}
.conversion > div dt {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background: #ec6b8e;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  padding: 7px 10px;
  letter-spacing: 1px;
}
.conversion > div dd p {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: -5px;
}
.conversion > div dd p em {
  color: #65addf;
  font-size: 30px;
  margin-left: 10px;
  letter-spacing: 1px;
}
.conversion > div dd p span {
  color: #ec6b8e;
  margin-left: -10px;
}
.conversion > div div {
  width: 450px;
}
.conversion > div div a {
  display: block;
  position: relative;
  background: url(../img/common/icon_arrow.png) no-repeat 96% center /30px 30px;
  background-color: #00b900;
  border-radius: 40px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 30px 20px;
}
.conversion > div div a img {
  width: 93px;
}

/*===== recommended =====*/
#recommended {
  background: #f6f6f6;
  padding: 60px 0 80px;
}
.ttl-h2 {
  text-align: center;
  margin-bottom: 60px;
}
.ttl-h2 > span {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
}
.ttl-h2 > span::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  background: #000;
  height: 2px;
  bottom: -20px;
}
.ttl-h2 > span span {
  font-size: 35px;
}
.ttl-h2 em {
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  margin-top: 40px;
  color: #454545;
}
.recommended-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #ccc;
  margin-bottom: 60px;
}
.recommended-box dl {
  margin: 0 30px;
  width: 550px;
}
.recommended-box dl dt img {
  display: block;
  margin-bottom: 40px;
}
.recommended-box:nth-of-type(1) dl dt img {
  width: 494px;
}
.recommended-box:nth-of-type(2) dl dt img {
  width: 528px;
}
.recommended-box:nth-of-type(3) dl dt img {
  width: 510px;
}
.recommended-box dl ul li {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  line-height: 1.3;
  padding: 0 10px 20px;
}
.recommended-box dl ul li::before {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../img/recommended/icon_check.png) no-repeat left top /21px 20px;
  width: 21px;
  height: 20px;
  top: 1px;
  margin-right: 10px;
}
.recommended-box dl ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.recommended-box:nth-of-type(odd) dl {
  order: 2;
}
.recommended-box figure {
  width: 376px;
}
.recommended-box:nth-of-type(odd) figure {
  order: 1;
}
.movie {
	max-width: 960px;
	margin: 0 auto;
}
.movie h3 img {
  display: block;
  width: 345px;
  margin: 0 auto 40px;
}
.movie-inner {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
.movie-inner iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

/*===== about =====*/
#about {
  background: #fff;
  padding: 60px 0 80px;
}
.about-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.about-box figure {
  width: 500px;
  margin-right: 30px;
}
#about > div:nth-of-type(2) .about-box figure {
  order: 2;
  margin-right: 0;
  margin-left: 30px;
}
.about-box p {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: -1px;
}
#about > div:nth-of-type(2) .about-box p {
  order: 1;
  font-size: 27px;
}
.about-box p span {
  display: block;
  border: 2px solid #999;
  width: 120px;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 10px;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
}
.about-box + p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: .1em;
}
#about > div + figure {
  margin: 50px auto 60px;
}

/*===== composition =====*/
#composition {
  padding: 60px 0 80px;
}
#composition h2 {
  margin-bottom: 30px;
}
#composition h2 + p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 30px;
}
#outline {
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
  border-radius: 10px 10px 0 0;
  margin-bottom: 60px;
}
#outline h3 {
  border-radius: 10px 10px 0 0;
  background: #222;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 30px 10px;
}
#outline .inner {
  padding: 30px 20px;
}
.composition-box:not(:last-child) {
  margin-bottom: 60px;
}
.composition-box h4 {
  padding-bottom: 20px;
  margin: 30px 0;
  position: relative;
}
.composition-box h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2a96d4;
}
.composition-box:nth-child(2) h4::after {
  background: #3bb67f;
}
.composition-box:nth-child(3) h4::after {
  background: #ea585b;
}
.composition-box:nth-child(4) h4::after {
  background: -webkit-linear-gradient(left, rgba(245,184,0,1) 0%,rgba(225,0,89,1) 50%,rgba(0,23,128,1) 100%);
  background: linear-gradient(to right, rgba(245,184,0,1) 0%,rgba(225,0,89,1) 50%,rgba(0,23,128,1) 100%);
}
.composition-box h4 img {
  display: block;
  width: 356px;
  margin: 0 auto;
}
.composition-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.composition-inner > div {
  width: 520px;
}
.composition-inner > div > p {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1px;
}
.composition-inner > div dl {
  border: 1px solid #ccc;
  position: relative;
  padding: 20px;
  padding-top: 0;
}
.composition-inner > div dl dt {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-align: center;
  background: #fff;
  padding: 10px;
  width: 140px;
  margin: -20px auto 10px;
  letter-spacing: 1px;
}
.composition-inner > div dl ol li {
  font-size: 18px;
  line-height: 1.5;
  text-indent: -1em;
  margin-left: 1em;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.composition-inner > div dl ol li:last-child {
  margin-bottom: 0;
}
.composition-inner > div dl ol + p {
  font-size: 14px;
  margin-top: 15px;
}
.composition-inner figure {
  width: 400px;
}

/*===== company =====*/
#company {
  padding: 60px 0 80px;
  background: #fff;
}
#company .ttl-h2 {
  margin-bottom: 20px;
}
#company .ttl-h2 > span span {
  font-size: 40px;
}
#company ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#company ul li {
  width: 166px;
}

/*===== voice =====*/
#voice {
  padding: 60px 0 0;
}
#voice h2 {
  margin-bottom: 40px;
}
.voice-box {
  margin-bottom: 60px;
}
.voice-box > span:first-of-type {
  background: #e6568b;
  text-align: center;
  display: block;
  width: 140px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding: 10px;
  letter-spacing: 1px;
}
.voice-box:nth-of-type(odd) > span:first-of-type {
  margin-left: auto;
}
.voice-box:nth-of-type(2) > span:first-of-type {
  background: #65addf;
}
.voice-box:nth-of-type(3) > span:first-of-type {
  background: #fce738;
}
.voice-box .inner {
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .15);
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.voice-box .inner > div {
  width: 670px;
}
.voice-box:nth-of-type(odd) .inner > div {
  order: 2;
}
.voice-box .inner > div h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
  border-left: 3px solid #e6568b;
  padding-left: 20px;
  letter-spacing: 1px;
}
.voice-box:nth-of-type(2) .inner > div h3 {
  border-left: 3px solid #65addf;
}
.voice-box:nth-of-type(3) .inner > div h3 {
  border-left: 3px solid #fce738;
}
.voice-box .inner > div p {
  font-size: 18px;
  line-height: 1.8;
}
.voice-box .inner > div p:not(:last-child) {
  margin-bottom: 20px;
}
.voice-box .inner figure {
  width: 225px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.voice-box:nth-of-type(odd) .inner figure {
  order: 1;
}
.voice-box .inner figure img {
  display: block;
  width: 225px;
  margin-bottom: 10px;
}

/*===== flow =====*/
#flow {
  background: #fff;
  padding: 80px 0;
}
#flow ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -40px;
}
#flow ul li {
  width: 45%;
  border: 1px solid #ccc;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff;
  margin-bottom: 40px;
}
#flow ul li:nth-child(3),#flow ul li:nth-child(4),#flow ul li:nth-child(6),#flow ul li:nth-child(7) {
  background: #f6f6f6;
}
#flow ul li:nth-child(1)::before,
#flow ul li:nth-child(3)::before,
#flow ul li:nth-child(6)::before{
  content: "";
  background: url(../img/common/icon_right.png) no-repeat right center/20px 40px;
  display: block;
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  right: -60px;
  margin-top: -20px;
}
#flow ul li:nth-child(5) {
  width: 100%;
}
#flow ul li:nth-child(5) dl {
  margin-right: 50px;
}
#flow ul li:nth-child(5) p span {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}
#flow ul li:nth-child(5) p span:last-child {
  margin-bottom: 0;
}
#flow ul li dl {
  text-align: center;
}
#flow ul li dl dt {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 20px;
  margin-bottom: 15px;
}
#flow ul li dl dt em {
  font-size: 50px;
  font-style: italic;
  margin-left: 3px;
}
#flow ul li dl dd {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*===== event =====*/
#event {
  padding: 0 0 80px;
  background: #fff;
}
#event h2 {
  background: #2a96d4;
  padding: 20px 10px;
  margin-bottom: 40px;
}
#event h2 img {
  width: 630px;
  display: block;
  margin: 0 auto;
}
#event dt {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 60px;
  letter-spacing: 1px;
}
#event dl ul {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: -50px;
}
#event dl ul li {
  width: auto;
  font-size: 18px;
  line-height: 1.6;
  position: relative;
  padding-top: 20px;
  padding-right: 80px;
  margin-bottom: 50px;
}
#event dl ul li:nth-child(3),
#event dl ul li:nth-child(5),
#event dl ul li:nth-child(6){
  font-size: 16px;
  line-height: 1.4;
}
#event dl ul li:last-child {
  padding-right: 0;
}
#event dl ul li::before {
  content: "";
  background: #ddd;
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#event dl ul li:last-child::before {
  display: none;
}
#event dl ul li::after {
  content: "";
  background: #65addf;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: -12px;
}
#event dl ul li em {
  display: block;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 25px;
  font-style: italic;
}
#event dl + ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  margin: 40px 0 -40px;
  padding: 30px 10px 0;
}
#event dl + ul li {
  font-size: 18px;
  margin-right: 50px;
  margin-bottom: 40px;
}
#event dl + ul li span {
  font-size: 20px;
  font-weight: 500;
}
#event + .conversion {
  margin: 60px auto;
}
footer {
  background: #2c2c2c;
  padding: 20px 10px;
}
footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width:768px) {
/*===== layout =====*/
.display-pc {
  display: none!important;
}
.display-sp {
  display: block !important;
}
.section-inner {
  padding: 0 2.6%;
}
.shine::before, .circle::before {
  display: none;
}
  
/*===== header =====*/
header {
  padding-top: .5vw;
}
header::before {
  background-size: 100% .5vw;
  height: .5vw;
}
header > div {
  padding: 0 !important;
}
header > div h1 {
  width: 38vw;
  padding: 2vw;
}
header > div h1 img {
  width: 100%;
}
nav ul li:not(:last-child) {
  display: none;
}
nav ul li:last-child {
  margin-left: auto;
  width: 8.5vw;
  padding: 1vw 0;
  margin-right: 1vw;
}
nav ul li:last-child a span {
  display: none;
}
nav ul li:last-child a {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
nav ul li:last-child a img:first-of-type {
  display: none;
}
nav ul li:last-child a img {
  width: 100%;
  position: relative;
  top: 0;
  margin-right: 0;
}
  
/*===== mv =====*/
#mv {
  background: none;
  min-height: inherit;
}
#mv::before {
  content: "";
  display: block;
  background: url(../img/fv/mv_sp.jpg) no-repeat center top /cover;
  padding-top: calc(700 / 1000 * 100%);
  position: relative;
}
#mv > div {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15% 1.3% 0;
}
#mv p {
  justify-content: center;
}
#mv p span {
  font-size: 3.5vw;
  border-radius: 3.5vw;
  padding: 1vw 3vw;
  margin-right: 3vw;
}
#mv p strong {
  font-size: 5vw;
}
#mv p strong em {
  font-size: 3.5vw;
}
#mv figure {
  width: 45vw;
  margin: 2.6% auto;
}
#mv ul {
  max-width: 90%;
  padding: 2.6% 3.4%;
}
#mv ul li {
  font-size: 3vw;
  margin-bottom: 2.6%;
}
#mv ul li::before {
  width: 6vw;
  margin-right: 1vw;
  top: -.8vw;
}
  
/*===== conversion =====*/
.conversion {
  border: .6vw solid #d9d9d9;
  padding: 1vw 2.6% 4%;
  width: 98%;
  margin: 4% auto 0;
}
#contents > .conversion:first-of-type {
  top: 0;
  margin-bottom: 0;
}
.conversion::after {
  background: url(../img/common/shadow.png) no-repeat center top /contain;
  width: 100%;
  height: 30vw;
  left: 0;
  margin-top: 0;
}
.conversion > p {
  font-size: 6.5vw;
  margin-bottom: 5.5%;
}
.conversion > p img {
  width: 34vw;
  top: 1vw;
  margin-right: .5vw;
}
.conversion > p img + span {
  font-size: 3.5vw;
}
.conversion > p strong {
  margin-top: 2.6%;
}
.conversion > p strong::after {
  height: 2px;
  bottom: -1vw;
}
.conversion > p strong em {
  font-size: 4vw;
}
.conversion > div {
  flex-direction: column;
}
.conversion > div dl {
  width: 100%;
}
.conversion > div dt {
  width: 20vw;
  font-size: 3vw;
  border-radius: 3vw;
  padding: 1vw;
}
.conversion > div dd p {
  font-size: 3.5vw;
  margin-top: 0;
  margin-bottom: 2.6%;
}
.conversion > div dd p em {
  font-size: 5vw;
  margin-left: 1vw;
}
.conversion > div dd p span {
  margin-left: -1vw;
}
.conversion > div div {
  width: 100%;
}
.conversion > div div a {
  background: url(../img/common/icon_arrow.png) no-repeat 96% center /5vw 5vw;
  background-color: #00b900;
  border-radius: 6.5vw;
  font-size: 5vw;
  padding: 4% 2.6%;
}
.conversion > div div a img {
  width: 16vw;
}
  
/*===== recommended =====*/
#recommended {
  padding: 8% 0 10%;
}
.ttl-h2 {
  margin-bottom: 8%;
}
.ttl-h2 > span {
  font-size: 6.5vw;
}
.ttl-h2 > span::after {
  bottom: -2vw;
}
.ttl-h2 > span span {
  font-size: 3.5vw;
}
.ttl-h2 em {
  font-size: 2vw;
  margin-top: 5.5%;
}
.recommended-box {
  flex-direction: column;
  margin-bottom: 8%;
  padding: 4% 2.6%;
}
.recommended-box dl {
  margin: 0 4%;
  width: 100%;
}
.recommended-box dl dt img {
  margin: 0 auto 5.5%;
}
.recommended-box:nth-of-type(1) dl dt img {
  width: 69.4vw;
}
.recommended-box:nth-of-type(2) dl dt img {
  width: 72.8vw;
}
.recommended-box:nth-of-type(3) dl dt img {
  width: 71vw;
}
.recommended-box dl ul li {
  font-size: 3.5vw;
  margin-bottom: 4%;
  padding: 0 1vw 2.6%;
}
.recommended-box dl ul li::before {
  background: url(../img/recommended/icon_check.png) no-repeat left top /3.6vw 3.5vw;
  width: 3.6vw;
  height: 3.5vw;
  top: .5vw;
  margin-right: 1vw;
}
.recommended-box:nth-of-type(odd) dl {
  order: 1;
}
.recommended-box figure {
  width: 45vw;
  margin-top: 4%;
}
.recommended-box:nth-of-type(odd) figure {
  order: 2;
}
.movie {
	max-width: 100%;
  padding: 0 2.6%;
}
.movie h3 img {
  width: 70%;
  margin: 0 auto 4%;
}
  
/*===== about =====*/
#about {
  padding: 8% 0 10%;
}
.about-box {
  width: 100%;
  flex-direction: column;
  margin-bottom: 4%;
}
.about-box figure {
  width: 70%;
  margin: 4% auto 0;
  order: 2;
}
#about > div:nth-of-type(2) .about-box figure {
  margin-right: 0;
  margin-left: 0;
}
.about-box p {
  font-size: 3.5vw;
  width: 100%;
}
#about > div:nth-of-type(2) .about-box p {
  font-size: 3.5vw;
}
.about-box p span {
  width: 23vw;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 1vw;
}
.about-box + p {
  font-size: 3.25vw;
}
.about-box + p br {
  display: none;
}
#about > div + figure {
  margin: 6.8% auto 8%;
}
  
/*===== composition =====*/
#composition {
  padding: 8% 0 10%;
}
#composition h2 {
  margin-bottom: 4%;
}
#composition h2 + p {
  font-size: 3.5vw;
  margin-bottom: 4%;
  letter-spacing: 0;
}
#outline {
  box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, .15);
  border-radius: 1vw 1vw 0 0;
  margin-bottom: 6.8%;
  padding-bottom: 4%;
}
#outline h3 {
  border-radius: 1vw 1vw 0 0;
  font-size: 4.75vw;
  padding: 4% 1vw;
}
#outline .inner {
  padding: 4% 2.6%;
}
.composition-box:not(:last-child) {
  margin-bottom: 8%;
}
.composition-box h4 {
  padding-bottom: 2.6%;
  margin: 4% 0;
}
.composition-box h4 img {
  width: 60%;
}
.composition-inner {
  flex-direction: column;
}
.composition-inner > div {
  width: 100%;
}
.composition-inner > div > p {
  font-size: 3.5vw;
  margin-bottom: 8%;
}
.composition-inner > div dl {
  padding: 2.6%;
  padding-top: 0;
  padding-bottom: 3.4%;
}
.composition-inner > div dl dt {
  font-size: 4vw;
  padding: 1vw;
  width: 30vw;
  margin: -3.75vw auto 2vw;
}
.composition-inner > div dl ol li {
  font-size: 3.5vw;
  margin-bottom: 2%;
}
.composition-inner > div dl ol + p {
  font-size: 2.75vw;
  margin-top: 2%;
}
.composition-inner figure {
  width: 65%;
  margin: 5.5% auto 0;
}
#composition .conversion {
  width: 100%;
  padding: 1vw 2% 4%;
}

/*===== company =====*/
#company {
  padding: 8% 0 10%;
}
#company .ttl-h2 {
  margin-bottom: 2.6%;
}
#company .ttl-h2 > span span {
  font-size: 4vw;
}
#company ul li {
  width: 25%;
}

/*===== voice =====*/
#voice {
  padding: 8% 0 0;
}
#voice h2 {
  margin-bottom: 5.5%;
}
.voice-box {
  margin-bottom: 8%;
}
.voice-box > span:first-of-type {
  width: 25%;
  font-size: 2.75vw;
  padding: 1vw;
}
.voice-box .inner {
  box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, .15);
  padding: 4% 2%;
  display: block;
  overflow: hidden;
}
.voice-box .inner > div {
  width: auto;
}
.voice-box .inner > div h3 {
  font-size: 4vw;
  margin-bottom: 2.6%;
  border-left: .5vw solid #e6568b;
  padding-left: 2vw;
}
.voice-box .inner > div h3 br {
  display: none;
}
.voice-box:nth-of-type(2) .inner > div h3 {
  border-left: .5vw solid #65addf;
}
.voice-box:nth-of-type(3) .inner > div h3 {
  border-left: .5vw solid #fce738;
}
.voice-box .inner > div p {
  font-size: 3vw;
}
.voice-box .inner > div p:not(:last-child) {
  margin-bottom: 2.6%;
}
.voice-box .inner > div figure {
  width: 30%;
  margin-left: 2.6%;
  font-size: 2.75vw;
  float: right;
}
.voice-box .inner > div figure img {
  width: 100%;
  margin-bottom: 1vw;
}
  
/*===== flow =====*/
#flow {
  padding: 10% 0;
}
#flow ul {
  margin-bottom: -5.5%;
}
#flow ul li {
  width: 45%;
  height: 100%;
  padding: 2vw 1vw;
  margin-bottom: 5.5%;
}
#flow ul li:nth-child(1)::before,
#flow ul li:nth-child(3)::before,
#flow ul li:nth-child(6)::before{
  background: url(../img/common/icon_right.png) no-repeat right center/2vw 4vw;
  width: 2vw;
  height: 4vw;
  right: -6vw;
  margin-top: -2vw;
}
#flow ul li:nth-child(5) {
  width: 100%;
  display: block;
  text-align: center;
}
#flow ul li:nth-child(5) dl {
  margin-right: 0;
  margin-bottom: 2.6%;
}
#flow ul li:nth-child(5) p span {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}
#flow ul li dl dt {
  font-size: 2.5vw;
  margin-bottom: 2%;
}
#flow ul li dl dt em {
  font-size: 5vw;
  margin-left: .3vw;
}
#flow ul li dl dd {
  font-size: 2.5vw;
  line-height: 1.3;
}
  
/*===== event =====*/
#event {
  padding: 0 0 10%;
}
#event h2 {
  padding: 2.6% 1vw;
  margin-bottom: 5.5%;
}
#event h2 img {
  width: 86.5%;
}
#event dt {
  font-size: 4vw;
  margin: 5.5% 0 8%;
}
#event dl ul {
  margin-bottom: -6.8%;
  justify-content: space-between;
}
#event dl ul li {
  width: auto;
  font-size: 2.75vw;
  padding-top: 2.6%;
  padding-right: 4vw;
  margin-bottom: 6.8%;
}
#event dl ul li:nth-child(1) {
  width: 33%;
}
#event dl ul li:nth-child(2){
  width: 27%;
}
#event dl ul li:nth-child(3) {
  width: 40%;
}
#event dl ul li:nth-child(4){
  width: 15%;
}
#event dl ul li:nth-child(5) {
  width: 42.5%;
}
#event dl ul li:nth-child(6) {
  width: 42.5%;
}
#event dl ul li:nth-child(7) {
  width: 15%;
}
#event dl ul li:nth-child(8) {
  width: 25%;
}
#event dl ul li:nth-child(9) {
  width: 60%;
}
#event dl ul li:nth-child(3),
#event dl ul li:nth-child(5),
#event dl ul li:nth-child(6){
  font-size: 2.5vw;
}
#event dl ul li:nth-child(3n) {
  padding-right: 0;
}
#event dl ul li:last-child {
  padding-right: 0;
}
#event dl ul li::before {
  height: .5vw;
}
#event dl ul li::after {
  content: "";
  background: #65addf;
  width: 2.5vw;
  height: 2.5vw;
  margin-top: -1.2vw;
}
#event dl ul li em {
  font-size: 3vw;
}
#event dl ul li br {
  display: none;
}
#event dl + ul {
  margin: 5.5% 0 -5.5%;
  padding: 4% 0 0;
}
#event dl + ul li {
  font-size: 2.75vw;
  margin-right: 6.8%;
  margin-bottom: 5.5%;
}
#event dl + ul li span {
  font-size: 3vw;
}
#event + .conversion {
  margin: 8% auto;
}
footer {
  background: #2c2c2c;
  padding: 2.6% 1vw;
}
footer p {
  font-size: 2vw;
}
}

@media screen and (max-width:480px) {
/*===== mv =====*/
#mv ul {
  max-width: 95%;
  padding: 2.6%;
}
#mv ul li {
  font-size: 3.5vw;
}
  
/*===== recommended =====*/
.recommended-box:nth-of-type(1) dl dt img {
  width: 74.4vw;
}
.recommended-box:nth-of-type(2) dl dt img {
  width: 77.8vw;
}
.recommended-box:nth-of-type(3) dl dt img {
  width: 76vw;
}
.recommended-box dl ul li {
  font-size: 4vw;
  padding-left: 5.1vw;
  text-indent: -5.1vw;
}
.recommended-box dl ul li::before {
  background: url(../img/recommended/icon_check.png) no-repeat left top /4.1vw 4vw;
  width: 4.1vw;
  height: 4vw;
}

/*===== about =====*/
.about-box p {
  font-size: 4.5vw;
}
#about > div:nth-of-type(2) .about-box p {
  font-size: 4.5vw;
}
.about-box + p {
  font-size: 4.25vw;
}
  
/*===== composition =====*/
#composition h2 + p {
  font-size: 4.25vw;
}
.composition-box h4 img {
  width: 65%;
}
.composition-inner > div > p {
  font-size: 4.5vw;
}
.composition-inner > div dl dt {
  font-size: 4.5vw;
}
.composition-inner > div dl ol li {
  font-size: 4.25vw;
}
.composition-inner > div dl ol + p {
  font-size: 3.75vw;
}
  
/*===== voice =====*/
.voice-box .inner > div h3 {
  font-size: 4.5vw;
}
.voice-box .inner > div p {
  font-size: 4vw;
}
  
/*===== flow =====*/
#flow ul li:nth-child(5) p span {
  font-size: 2.75vw;
}
#flow ul li dl dt {
  font-size: 3vw;
}
#flow ul li dl dt em {
  font-size: 5.5vw;
}
#flow ul li dl dd {
  font-size: 3.25vw;
}
  
/*===== event =====*/
#event dt {
  font-size: 4.5vw;
}
#event dl ul li {
  font-size: 3vw;
  padding-right: 3vw;
}
#event dl ul li:nth-child(3),
#event dl ul li:nth-child(5),
#event dl ul li:nth-child(6){
  font-size: 2.75vw;
}
#event dl ul li:nth-child(3n) {
  padding-right: 0;
}
#event dl ul li:last-child {
  padding-right: 0;
}
#event dl ul li em {
  font-size: 3.5vw;
}
#event dl + ul li {
  font-size: 3vw;
  margin-right: 2.6%;
}
#event dl + ul li span {
  font-size: 3.25vw;
}
}