/* main: ../style.scss */
@charset "utf-8";


// ###########################################################
//
// Colors
//
// ###########################################################
// Background
// :::::::::::::::::::::::::::::::::::::::::::::::::::::

// Default color
// ................................................
$c-background: #FFF;
$c-background_lighten: lighten($c-background, 5);
$c-background_darken: #d7e0e3;
$c-background_layer0: darken($c-background,4);
$c-background_layer1: $c-background;
$c-background_layer2: lighten($c-background,4);

// Alternate
// ................................................
$c-background_alt: #EEE;
$c-background_alt_layer0: darken($c-background_alt,4);
$c-background_alt_layer1: $c-background_alt;
$c-background_alt_layer2: #FFF;

// Border
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$c-border: darken($c-background_alt, 0.5);

// Common color set
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$c-white: #FFFFFF;
$c-green: #50C8A7;
$c-green_foreground: #0D2B22;
$c-blue: #8BE4ED;
$c-blue_foreground: #222233;
$c-red: #FC92A5;
$c-red_foreground: #540312;
$c-yellow: #FFDB61;
$c-yellow_foreground: #4E342E;
$c-purple: #C6A2FB;
$c-purple_foreground: #320377;
$c-alt: #8B8BA7;
$c-alt_foreground: #1D262A;
$c-green_darken: darken($c-green, 40);
$c-disable: #AAAAAA;

// [class name]: [color variable]
// You can add any color variation.
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$color_variations: (
  "white": (bg: $c-white, fg: $c-white),
  "green": (bg: $c-green, fg: $c-green_foreground),
  "blue": (bg: $c-blue, fg: $c-blue_foreground),
  "red": (bg: $c-red, fg: $c-red_foreground),
  "yellow": (bg: $c-yellow, fg: $c-yellow_foreground),
  "purple": (bg: $c-purple, fg: $c-purple_foreground),
  "alt": (bg: $c-alt, fg: $c-alt_foreground),
  "disable": (bg: $c-disable, fg: $c-disable)
);

// Information colors
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$c-success: $c-blue;
$c-success_text: $c-blue_foreground;
$c-info: $c-alt;
$c-info_text: $c-alt_foreground;
$c-warning: $c-yellow;
$c-warning_text: $c-yellow_foreground;
$c-error: $c-yellow;
$c-error_text: $c-yellow_foreground;
$c-danger: $c-red;
$c-danger_text: $c-red_foreground;

// Text colors
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$c-txt_plain: #222233;
$c-txt_plain_alt: $c-background;
$c-txt_sub: lighten($c-txt_plain, 50);
$c-txt_link: $c-blue;
$c-txt_visited: $c-blue;
$c-txt_hover: lighten($c-blue,20);
$c-txt_active: $c-blue;

// Buttons
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$c-btn_default: $c-green;


// ###########################################################
//
// Outlines, Layouts
//
// ###########################################################

// Gutter
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$cmn_gutter: 15px;

// Break point
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$breakpoint: 1180px;

// Header
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$header_height: 50px;

//  Sidebar
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$sidebar_width: 220px;


// Read view
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$max_readview: 960px;


// ###########################################################
//
// Components
//
// ###########################################################

// _typograph.scss
// :::::::::::::::::::::::::::::::::::::::::::::::::::::

// Font family
// ................................................
$globalfont_family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
//$globalfont_family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;

$globalfont_family_bold:  '游ゴシック',
                          YuGothic,
                          "ヒラギノ角ゴ ProN W3",
                          "Hiragino Kaku Gothic ProN",
                          "メイリオ",
                          Meiryo,
                          "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;

// Font size
// ................................................
$fs-root_base: 16px;
$fs-root_base--sp: 13px; 
$fs-base: 1rem;
$fs-scale_ratio: 1.25; //Major Second
$fs-h5: $fs-base*$fs-scale_ratio;
$fs-h4: $fs-h5*$fs-scale_ratio;
$fs-h3: $fs-h4*$fs-scale_ratio;
$fs-h2: $fs-h3*$fs-scale_ratio;
$fs-h1: $fs-h2*$fs-scale_ratio;
$fs-large: $fs-h1*$fs-scale_ratio;
$fs-small: $fs-base/$fs-scale_ratio;
$fs-xsmall: $fs-small/$fs-scale_ratio;

// _form.scss
// :::::::::::::::::::::::::::::::::::::::::::::::::::::

// Unit
// ................................................
$c-unit_txt: $c-txt_plain;
$c-unit_border: transparent;
$c-unit_background: $c-background_darken;

// Textfield
// ................................................
$c-textfield_text: $c-txt_plain;
$c-textfield_background: $c_white;
$c-textfield_border: transparent;
$c-textfield_placeholder: lighten($c_txt_plain, 30);
$c-textfield_focus_background: $c_white;
$c-textfield_focus_border: $c-blue;
$c-textfield_focus_placeholder: lighten($c-background_alt, 5);
$c-textfield_readonly_background: $c-background_darken;
$c-textfield_readonly_border: $c-border;
$c-textfield_readonly_placeholder: $c-background;
$c-textfield_readonly_focus_background: $c-textfield_readonly_background;
$c-textfield_readonly_focus_border: $c-textfield_focus_border;
$c-textfield_readonly_focus_text: $c-txt_plain;

// Label
// ................................................
$c-label_text: $c-txt_plain;

// Select
// ................................................
$c-select_background: $c-textfield_background;
$c-select_text: $c-textfield_text;
$c-select_border: $c-textfield_border;
$c-select_focus_border: $c-textfield_focus_border;
$c-select_active_border: $c-purple;
$c-select_readonly_background: $c-textfield_readonly_background;

// Notes
// ................................................
$c-notes_background: $c-background_darken;
$c-notes_border: transparent;
$c-notes_text: $c-txt_plain;
$c-notes_focus_background: $c-blue;
$c-notes_focus_text: $c-blue_foreground;


// ###########################################################
//
// Utilities
//
// ###########################################################

// _material_shadow.scss
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$shadow-x-ratio:    0.375;
$shadow-y-ratio:    0.375;
$shadow-blur-lower: 1;
$shadow-blur-ratio: 1;
$shadow-color:      #000000;
$shadow-alpha-init: 0.375;
$shadow-alpha-lower: 0.175;
$shadow-alpha-ratio: 0.005;

// _media_queries.scss
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$mq-breakpoints: (
  'xsmall': 320px,
  'small' : 600px,
  'medium': 768px,
  'large' : 1024px,
  'xlarge': 1280px
);

// _placeholder.scss
// :::::::::::::::::::::::::::::::::::::::::::::::::::::
$ph-color: rgba(0,0,0,.5);
